.modalContainer .modalContent {
    background: url("images/gifts.jpg") 180px 100px no-repeat white;
}

.modalContainer .modalContent * {
    position: absolute;
}

.modalContainer .modalContent h3 {
    color: #8dc655;
    top: 10px;
    left: 40px;
    font-size: 25px;
}

.modalContainer .modalContent p {
    top: 70px;
    left: 40px;
    color: #a0e161;
    font-size: 13px;
}

.modalContainer .modalContent form input {
    width: 200px !important;
    top: 180px;
    left: 40px;
}

.modalContainer .modalContent form button {
    width: 140px !important;
    top: 230px;
    left: 40px;
}

.modalContainer .modalContent form h4 {
    width: 250px;
    top: 140px;
    left: 40px;
    color: #b3b3b3;
}
