* {outline: 0 none;}
a img {border: 0 none;}

html, body {
    margin: 0;
    padding: 0;
}
body, table, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
}

.cf:before, .cf:after {content: " "; display: table;}
.cf:after {clear: both;}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   C O M M O N   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.app {
    position: relative;
    min-width: 640px;
    padding-top: 107px;
}

.width {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    /*background-color: rgba(255, 0, 0, 0.2) !important;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.margin {
    margin: -30px;
}
.columns {
    display: table;
    width: 100%;
    border-spacing: 30px;
}
.columns .column {
    display: table-cell;
    width: 33.333%;
    vertical-align: top;
}

._header25 {
    margin: 0;
    font-size: 25px;
    line-height: 34px; /*o35*/
    color: #9856a3;
    text-align: center;
}

.call {
    display: table;
    max-width: 684px;
    height: 94px;
    margin: 0 auto;
    background: url('img/call.png') no-repeat 58% 0;
}
.call .left {
    display: table-cell;
    width: 57.163%; /*391*/
    padding-right: 33px;
    font-size: 20px;
    line-height: 24px; /*o27*/
    color: #000;
    vertical-align: middle;
}
.call .left strong {
    font-weight: 600;
    line-height: 23px; /*o28*/
}
.call .right {
    display: table-cell;
    width: 42.836%; /*293*/
    padding-left: 33px;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px; /*o42*/
    color: #000;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   G E N E R A L   T O P   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.generalTop {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 640px;
    height: 125px;
    background: #fff;
}
.generalTop .width {
    overflow: hidden;
    padding: 0 20px;
}

.generalTop .logo {
    float: left;
    width: 303px;
    height: 130px;
    margin-top: 1px;
    background: url('img/generalTop_logo.png') no-repeat;
}

.generalTop .phone {
    margin-top: 40px;
    font-family: 'PT Sans';
    font-size: 31.92px;
    line-height: 32px; /*o42*/
    color: #9958a4;
    text-align: right;
}
.generalTop .phone small {
    display: block;
    margin-top: 1px;
    font-size: 15.96px;
    line-height: 16px; /*o22*/
}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   G E N E R A L   B O T T O M   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.generalBottom {
    /*height: 413px;*/
    background: url('img/generalBottom.png') repeat-y 50% 0;
}
.generalBottom .width {
    overflow: hidden;
    padding: 53px 20px 87px 20px;
}

/* ***** ***** ***** ***** ***** ***** *****   C O L U M N S   ***** ***** ***** ***** ***** ***** ***** */

.generalBottom .column {
    color: #fff;
}
.generalBottom .column a {
    color: #fff;
}

@media (max-width: 1000px) {
    .generalBottom .margin {
        margin: 0 -10px;
    }
    .generalBottom .columns {
        display: block;
    }
    .generalBottom .column {
        display: block;
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/* ***** ***** ***** ***** *****   C O L U M N   1   ***** ***** ***** ***** ***** */

.generalBottom .column1 .logo {
    display: block;
    width: 277px;
    height: 57px;
    background: url('img/generalBottom_logo.png') no-repeat;
}

.generalBottom .column1 .links {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; /*o22*/
}
.generalBottom .column1 .links a {
    text-decoration: none;
}

@media (max-width: 1000px) {
    .generalBottom .column1 {
        float: left;
    }
}

/* ***** ***** ***** ***** *****   C O L U M N   2   ***** ***** ***** ***** ***** */

.generalBottom .column2 {
    padding-top: 14px;
}

.generalBottom .column2 .header {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px; /*o22*/
}

.generalBottom .column2 .text {
    position: relative;
    padding-left: 33px;
    font-size: 17px;
    font-weight: 300;
    line-height: 26px; /*o23*/
}
.generalBottom .column2 .text:after {
    content: "";
    position: absolute;
    left: 0;
    background: url('img/generalBottom_column2.png') no-repeat;
}

.generalBottom .column2 .text.address {
    margin-top: 42px;
}
.generalBottom .column2 .text.address:after {
    top: 6px;
    width: 17px;
    height: 23px;
    background-position: 0 0;
}

.generalBottom .column2 .text.phone {
    margin-top: 19px;
}
.generalBottom .column2 .text.phone:after {
    top: 7px;
    width: 20px;
    height: 21px;
    background-position: 0 -30px;
}

@media (max-width: 1000px) {
    .generalBottom .column2 {
        float: right;
    }
}

/* ***** ***** ***** ***** *****   C O L U M N   3   ***** ***** ***** ***** ***** */

.generalBottom .column3 {
    padding-top: 14px;
}

.generalBottom .column3 .header {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px; /*o22*/
}

.generalBottom .column3 .social {
    font-size: 0;
    margin: 46px -4.2px 0;
    white-space: nowrap;
}
.generalBottom .column3 .social a {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 0 4.2px;
    background: url('img/generalBottom_social.png') no-repeat;
}
.generalBottom .column3 .social a.s1 {background-position: 0 0;}
.generalBottom .column3 .social a.s2 {background-position: 0 -50px;}
.generalBottom .column3 .social a.s3 {background-position: 0 -100px;}
.generalBottom .column3 .social a.s4 {background-position: 0 -150px;}
.generalBottom .column3 .social a.s5 {background-position: 0 -200px;}
.generalBottom .column3 .social a.s6 {background-position: 0 -250px;}

.generalBottom .column3 .text {
    margin-top: 21px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px; /*o20*/
}

@media (max-width: 1000px) {
    .generalBottom .column3 {
        float: left;
        margin-top: 53px;
    }

    .generalBottom .column3 .social {
        margin-left: -2.6px;
        margin-right: -2.6px;
    }
    .generalBottom .column3 .social a {
        margin-left: 2.6px;
        margin-right: 2.6px;
    }
}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   W R A P   B A N N E R   1   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.wrapBanner1 {
    height: 545px;
    background: url('img/wrapBanner1.jpg') no-repeat 50% -30px;
}
.wrapBanner1 .width {
    padding: 116px 20px 20px 20px;
}

.wrapBanner1 .header {
    margin: 0;
    font-size: 27px;
    font-weight: 600;
    line-height: 35px; /*o38*/
    color: #914a9c;
}

.wrapBanner1 .subheader {
    margin: 13px 0 0 0;
    font-size: 25px;
    font-weight: 300;
    line-height: 29px; /*o35*/
    color: #494949;
}

.wrapBanner1 .button {
    margin-top: 26px;
    font-size: 0;
}
.wrapBanner1 .button a {
    display: inline-block;
    /*height: 60px;*/
    padding: 17px 18px 20px 18px;
    font-size: 23px;
    font-weight: 600;
    line-height: 23px; /*o32*/
    color: #fff;
    text-decoration: none;
    background: #af82b8;
    background: -moz-linear-gradient(top, #af82b8 0%, #6d4186 100%);
    background: -webkit-linear-gradient(top, #af82b8 0%, #6d4186 100%);
    background: linear-gradient(to bottom, #af82b8 0%, #6d4186 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af82b8', endColorstr='#6d4186', GradientType=0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   W R A P   P A R T N E R S   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.wrapPartners {
    /*height: 208px;*/
    background: #f6f6f7;
}
.wrapPartners2 {
    background: #fff;
}
.wrapPartners .width {
    padding: 22px 20px 32px 20px;
}
.wrapPartners2 .width {
    padding-top: 10px;
    padding-bottom: 20px;
}

.wrapPartners .items {
    font-size: 0;
    text-align: center;
}
.wrapPartners .items .item {
    display: inline-block;
    width: 25%;
    padding: 20px 0 20px 0;
    vertical-align: middle;
}
.wrapPartners .items .item img {
    display: block;
    margin: 0 auto;
}

.wrapPartners .text {
    margin-top: -4px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px; /*o22*/
    color: #454545;
    text-align: center;
}
.wrapPartners2 .text {
    margin-top: -8px;
}
.wrapPartners .text a {
    color: #454545;
}

@media (max-width: 1000px) {
    .wrapPartners .items .item {
        width: 50%;
    }
}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   W R A P   B U Y E R S   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.wrapBuyers .width {
    overflow: hidden;
    padding: 52px 20px 41px 20px;
}

.wrapBuyers .columns {
    margin-top: 39px;
}

.wrapBuyers .columns .image img {
    display: block;
    width: 100%;
    max-width: 360px;
}

.wrapBuyers .columns .wrapper {
    position: relative;
    height: 150px; /*158*/
    padding: 8px 10px 0 10px;
    border: 1px solid #c9a6ce;
}

.wrapBuyers .columns .title {
    display: table;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px; /*o28*/
    color: #64b14c;
    text-align: center;
    border-spacing: 0;
}
.wrapBuyers .columns .title span {
    display: table-cell;
    vertical-align: bottom;
}

.wrapBuyers .columns .body {
    margin-top: 13px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px; /*o22*/
    color: #8d8c8c;
    text-align: center;
}

.wrapBuyers .columns .button {
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.wrapBuyers .columns .button a {
    display: inline-block;
    /*height: 43px;*/
    padding: 12px 22px 13px 22px;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px; /*o25*/
    color: #9957a3;
    text-decoration: none;
    background: #fff;
    border: 2px solid #c5a0cb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .wrapBuyers .columns .title {
        height: 36px;
        font-size: 18px;
        line-height: 18px; /*o26*/
    }
    .wrapBuyers .columns .body {
        font-size: 14px;
        line-height: 18px; /*o20*/
    }
}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   W R A P   T R U S T   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.wrapTrust .width {
    overflow: hidden;
    padding: 53px 20px 90px 20px;
}

.wrapTrust .margin {
    position: relative;
}
.wrapTrust .margin:after {
    content: "";
    position: absolute;
    left: 17.5%; /*210/1200*/
    right: 17.5%; /*210/1200*/
    top: 52px;
    height: 1px;
    background: #9957a3;
}

.wrapTrust .columns {
    margin-top: 37px;
}
.wrapTrust .columns .column {
    font-size: 0;
    text-align: center;
}

.wrapTrust .columns .wrapper {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 0 0 4px 66px;
    text-align: left;
}
.wrapTrust .columns .wrapper:after {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 86px; /*51*/
    height: 68px;
    background: #fff url('img/wrapTrust_column.png') no-repeat 20px 0;
}

.wrapTrust .columns .num {
    display: inline-block;
    padding-right: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px; /*o55*/
    color: #9957a3;
    background: #fff;
}
.wrapTrust .columns .title {
    margin-top: 1px;
    font-size: 23px;
    line-height: 23px; /*o32*/
    color: #404040;
}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   W R A P   O F F E R S   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.wrapOffers {
    height: 897px;
    background: url('img/wrapOffers.jpg') no-repeat 50% 0;
}
.wrapOffers .width {
    padding: 43px 20px 20px 20px;
}

.wrapOffers .header {
    color: #46284b;
}

.wrapOffers .items {
    max-width: 654px;
    margin: 43px auto 0;
}
.wrapOffers .items .item {
    overflow: hidden;
    position: relative;
    /*height: 76px;*/
    margin-top: 11px;
    padding: 15px 10px 17px 108px;
    font-size: 18px;
    line-height: 22px; /*o25*/
    color: #6f6f6f;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.wrapOffers .items .item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 78px;
    height: 100%;
    background: #9ce159 url('img/wrapOffers_item.png') no-repeat;
}
.wrapOffers .items .item1:before {background-position: 12px 13px;}
.wrapOffers .items .item2:before {background-position: 12px -183px;}
.wrapOffers .items .item3:before {background-position: 12px -386px;}
.wrapOffers .items .item4:before {background-position: 12px -585px;}
.wrapOffers .items .item5:before {background-position: 18px -790px;}

.wrapOffers .items .item:after {
    content: "";
    position: absolute;
    left: 62px;
    top: 50%;
    margin-top: -6px;
    border: 8px solid transparent;
    border-right-color: #fff;
}

.wrapOffers .call {
    margin-top: 83px;
}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   W R A P   B L O C K   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.wrapBlock {
    background: #f8f8f8;
}
.wrapBlock .width {
    overflow: hidden;
    padding: 73px 20px 70px 20px;
}

.wrapBlock .margin {
    position: relative;
}
.wrapBlock .margin:after {
    content: "";
    position: absolute;
    left: 17.5%; /*210/1200*/
    right: 17.5%; /*210/1200*/
    top: 74px;
    height: 1px;
    background: #b789be;
}

.wrapBlock .columns .column {
    position: relative;
    z-index: 2;
}
.wrapBlock .columns .column:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 116px;
    background: #f8f8f8 url('img/wrapBlock_column.png') no-repeat;
}
.wrapBlock .columns .column1:after {width: 136px; margin-left: -68px; background-position: 35px 0;}
.wrapBlock .columns .column2:after {width: 156px; margin-left: -78px; background-position: 40px -200px;}
.wrapBlock .columns .column3:after {width: 161px; margin-left: -81px; background-position: 30px -400px;}

.wrapBlock .columns .text {
    padding-top: 116px;
    font-size: 18px;
    line-height: 23px; /*o25*/
    color: #000;
}
.wrapBlock .columns .text a {
    color: #000;
}

/* ***** ***** ***** ***** ***** ***** ***** ***** *****   W R A P   P R O D U C T S   ***** ***** ***** ***** ***** ***** ***** ***** ***** */

.wrapProducts .width {
    overflow: hidden;
    padding: 0 20px 67px 20px;
}

.wrapProducts .header {
    color: #46284b;
}

.wrapProducts .items {
    margin: 0 -15px;
    font-family: Arial, sans-serif;
    font-size: 0;
    border-bottom: 1px solid #e7e7e7;
}
.wrapProducts .item {
    display: inline-block;
    width: 33.333%;
    padding: 45px 15px 40px 15px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapProducts .item .image img {
    display: block;
    width: 100%;
    max-width: 185px;
    margin: 0 auto;
}

.wrapProducts .item .brand {
    margin-top: 25px;
    font-size: 12px;
    line-height: 17.15px; /*o15*/
    color: #7b7b7b;
}
.wrapProducts .item .brand a {
    color: #7b7b7b;
}

.wrapProducts .item .title {
    min-height: 42px;
    margin-top: 10px;
    font-size: 14.666px;
    line-height: 20.95px; /*o19*/
    color: #1f1f1f;
}
.wrapProducts .item .title a {
    color: #1f1f1f;
}

.wrapProducts .item .body {
    margin-top: 10px;
    font-size: 13.333px;
    line-height: 19.05px; /*o17*/
    color: #7b7b7b;
}

.wrapProducts .item .info {
    display: table;
    margin-top: 22px;
    border-spacing: 0;
}

.wrapProducts .item .info .pack {
    display: table-cell;
    width: 1%;
    font-size: 16px;
    line-height: 22.85px; /*o20*/
    color: #7b7b7b;
    vertical-align: bottom;
    white-space: nowrap;
}

.wrapProducts .item .info .price {
    display: table-cell;
    font-size: 16px;
    line-height: 22.85px; /*o20*/
    color: #7b7b7b;
    text-align: center;
    vertical-align: bottom;
}
.wrapProducts .item .info .price .priceOld {
    font-size: 14.666px;
    line-height: 20.95px; /*o19*/
    color: #1f1f1f;
    text-decoration: line-through;
}
.wrapProducts .item .info .price .priceNew {
    color: #f63e3c;
}

.wrapProducts .item .info .cart {
    display: table-cell;
    width: 1%;
    font-size: 0;
    text-align: right;
    vertical-align: bottom;
    white-space: nowrap;
}
.wrapProducts .item .info .cart a {
    display: inline-block;
    padding: 3px 28px 2px 10px;
    font-size: 14.666px;
    line-height: 19.05px; /*o19*/
    color: #fff;
    text-decoration: none;
    background: #00c5f0 url('img/wrapProducts_cart.png') no-repeat 100% 7px;
}
.wrapProducts .item .info .cart a:hover {
    background-color: #8dc655;
}

.wrapProducts .call {
    margin-top: 58px;
}

@media (max-width: 1000px) {
    .wrapProducts .item .info {
        overflow: hidden;
        display: block;
    }
    .wrapProducts .item .info .pack {
        display: block;
        float: right;
        width: 50%;
        text-align: right;
    }
    .wrapProducts .item .info .price {
        display: block;
        float: left;
        width: 50%;
        text-align: left;
    }
    .wrapProducts .item .info .cart {
        display: block;
        clear: both;
        width: auto;
        text-align: left;
    }
}
