.modalContainer section .modalContent {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 57px;
}

.modalContainer {
    font-size:14px;
    font-family: 'PT Sans', sans-serif;
    color:#000;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(150,150,150,0.6);
    z-index: 1031;
}

.modalContainer .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modalContainer section {
    position: absolute;
    width: 700px;
    height: 530px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
}

.modalContainer section header {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    color: #9b9b9b;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1.4px;
    padding: 0 37px;
}

.modalContainer section header .close {
    bottom: 0;
    font-size: 40px;
    font-weight: 400;
    height: 10px;
    line-height: 3px;
    margin: auto 0;
    position: absolute;
    right: 18px;
    top: 8px;
    width: 10px;
    cursor: pointer;
    opacity: 0.5;
}

.modalContainer section header .close:hover {
    opacity: 0.8;
}

.modalContainer section .modalContent form input {
    font-size: 15px;
    color: black;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e8f3b6;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) inset;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 0;
    margin-bottom: 8px;
    border-radius: 3px;
    outline: none;
}

.modalContainer section .modalContent form button {
    background-color: #bd6fcc;
    border: medium none;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0 #90339f;;
    -moz-box-shadow: 0 3px 0 #90339f;;
    box-shadow: 0 3px 0 #90339f;;
    color: #ffffff;
    display: block;
    font: 700 14px "PT Sans Caption";
    margin-bottom: 3px;
    padding: 6px 0 3px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
}

.modalContainer section footer {
    position: absolute;
    left: 0;
    right: 0;
    height: 57px;
    bottom: 0;
    background-color: #fff;
}

.modalContainer section footer ul {
    padding: 0 0 0 14px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

.modalContainer section footer ul li {
    float: left;
    height: 57px;
    letter-spacing: 0.9px;
    line-height: 57px;
    padding: 0 12px 0 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-color: transparent;
    color: #909090;
    font-size: 11px;
    font-weight: 400;
}

.modalContainer section footer ul li:nth-child(1){
    background-image: url("images/ico01.png");
}

.modalContainer section footer ul li:nth-child(2){
    background-image: url("images/ico02.png");
}

.modalContainer section footer ul li:nth-child(3){
    background-image: url("images/ico03.png");
}

.modalContainer section footer > a {
    font: 10px 'PT Sans Caption', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #92dc4d;
    -webkit-box-shadow: 0 3px 2px #8e8e8e;
    -moz-box-shadow: 0 3px 2px #8e8e8e;
    box-shadow: 0 3px 2px #8e8e8e;
    vertical-align: middle;
    display: inline-block;
    padding: 5px 16px;
    border-radius: 2px;
}

.modalContainer section footer > a:hover {
    opacity: 0.9;
}
