@media screen {
.active_cat {
    color:red!important;
}

    .add_subcat {
    display: none;
}

fieldset {
    border: 1px solid grey;
    margin: 10px;
    padding: 5px;
}

    .category-item {
        &.is-tag {
            color: black;
            font-style: italic;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media print {
    #header, #menu {
        display: none;
    }
    body {
        font-size: 10pt;
        font-family: Helvetica, sans-serif;
    }
    h1 {
        font-size:14pt;
    }
    h2 {
        font-size: 12pt;
    }
    td {
        font-size: 8pt;
        font-weight: normal;
    }
    td h1 {
        font-size: 9pt;    
    }
    td h1, td p {
        font-size: 8pt;
        margin: 0.2em 2em;  
    }


    .table1{
        width: 190mm;
        page-break-inside: avoid;
    }
    .table1 .col1 {
        width:25mm;
    }
    .table1 .col2 {
        width:110mm;
    }
    .table1 .col3 {
        vertical-align: top;
    }
    .table1 .col3 table {
        margin-top: 5mm;
        text-align: right;
    }
    .table1 .pack {
        width: 16mm;
        text-align: right;
    }
    .table1 .price {
        width: 21mm;
        text-decoration: line-through;
        text-align: right;
    }
    .table1 .specialPrice {
        width: 21mm;
        font-weight: bold;
        text-align: right;
    } 
    .al_c {
        text-align: center;
    }
    .al_r{
        text-align: right;
    }
    .al_l{
        text-align: left;
    }
    .mg_btn {
        margin-bottom: 1.7em!important;
    }
    .strikeout {
        text-decoration: line-through;
    }
    .table_lables {
    }
    .blank_label {
        width: 60mm;
        border: 1px solid gray;
        page-break-inside: avoid;
    }
    .blank_label_name {
        font-size: 11pt;
    }
    .blank_label_tm {
        color: #B3B3B3;
    }
    .blank_label_pack {
        color: #B3B3B3;
    }
    .blank_label_special_price {
        color: #FF0000;
    }
    .blank_label_price {
        color: #B3B3B3;
        text-decoration: line-through;
    }
}

#loading-bg {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(47, 47, 47, 0.4);
    color: white;
    text-align: center;
    padding-top: 300px;
    font-size: 25px;
}

#db-log {
    bottom: 0 !important;
}

#categories {
    .level_2, .level_3 {
        display: none;
    }

    h5 {
        margin: 0 0 10px;
        font-weight: bold;
    }

    .sublevel {
        margin: 30px 0 0;
        padding: 20px;
        border: 1px solid #E4E4E4;
    }

    .level_1_item.unactive,
    .level_2_item .cat_link.unactive {
        opacity: 0.6;
    }

    .add-form {
        display: none;
    }
}

.new-subcat {
    display: none;
}

.subfile {
    &.form-control {
        display: inline-block;
        width: 300px;
    }
}

.date-inputs {
    .form-control {
        display: inline-block;
        width: 60px;
        text-align: center;
    }

    label {
        display: block;
    }
}

.highlight {
    font-weight: bold;
}

.red {
    color: red;
}

#login-form {
    width: 350px;
    max-width: 100%;
    margin: 150px auto 0;
}

.form-error {
    color: #774145;
    margin-top: 3px;
}

#seo-tag-form {
    .first-level {
        background-color: #ceffce;
    }

    .second-level {
        background-color: #f7f5ff;
    }
}

.select2-container--default {
    .select2-results {

    > .select2-results__options {
            max-height: 500px !important;
        }
    }
}

#generate-promo-btn {
    position: absolute;
    bottom: 15px;
    right: -130px;
}

#banner {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#banner-copy-area {
    position: absolute;
    background-color: #00b3ff;
    opacity: 0.5;
    cursor: move;
    border: 3px solid #0f74a8;
}

#compensations {
    .compensation-holder {
        margin-bottom: 40px;

        h4 {
            margin-bottom: 0;
        }

        .row {
            padding: 10px 0;
            background-color: #fbfbfb;
        }
    }
}
