/* Общий стиль для кнопок */
.button-common {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 9px 28px 8px 28px;
  border: 0;
  border-radius: 0;
  background: @main_active;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 13pt;
  font-family: dinpro_regular, Arial, sans-serif;
  line-height: 1em;
  &:hover {
    background: #a0e161;
  }
  &:focus,
  &:active {
    background: @main_active;
    outline: none;
  }
}
.form-required {
  color: red;
}