@import 'vars.less';

.cart_pack {
    font-size: 9pt;
    color:@unactive_font;
}

.cart_quan {
    text-align: center;
    padding: 22px 0 15px 0;
}

.cart_del {
    cursor: pointer;
    font-size: 9pt;
    color: @unactive_font;
    text-decoration: underline;
    &:hover{
        color: @main_active;
        text-decoration: none;
    }
}

.cart_item, .favourite_item {
    margin: 15px -15px;
}

.cart_item_price {
    padding: 22px 5px 15px 5px;
    font-size: 12pt;
    text-align: center;

    .price-box {
        white-space: nowrap;
    }
}

.cart_user_info {
    margin-top: 32px;
    color: @unactive_font;

    .select2-container {
        width: 100% !important;
    }

    label {
        text-align: left;
        font-weight: normal;
        padding: 7px 0 0 15px;
        font-size: 11pt;

        .sub {
            font-size: 0.9em;
            opacity: 0.7;
        }
    }

    .cart-i {
        height: 20px;
        margin-top: 4px;
        white-space: nowrap;
        font-size: 12.5px;

        .shipping {
            margin: 0;
            color: @accent;
        }
    }

    .pickup {
        height: 33px;

        .inf {
            font-size: 14px;
        }
    }

    .sdek-address {
        display: inline-block;
        max-width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 6px;
    }
}

#sdek-modal {
    .modal-dialog {
        width: 900px;
    }
}

#sdek-map {
    width: 100%;

    .sdek-point-btn {
        border-radius: 0;
        border: none;
        background-color: @cart;
        text-decoration: none;

        &:hover {
            background-color: @mail_active-hover;
        }
    }
}

.cart_item {
    .w_new_price {
        .cart_ip {
            color: red;
        }
    }

    h3 {
        text-align: center;
        font-size: 19px;
        margin: 0 0 10px;
    }
}

.cart_items {
    .old_price {
        font-size: 10pt;
    }

    .discount-info {
        height: 25px;
    }

    .promo-discount {
        margin-left: 5px;
        font-style: italic;
    }
}

#cart-page {
    .old-shipping {
        color: @light_grey;
        padding-right: 5px;

        .price-value {
            text-decoration: line-through;
        }
    }

    .cart_items_block {
        .popover-content {
            padding: 6px 0;
        }
    }

    .cart_info {
        margin: 0;
    }

    .present {
        border-bottom: 1px solid @super_light_grey;
        margin-bottom: 30px;

        h3 {
            text-align: left;
            margin-top: 15px;
        }

        .inf {
            text-align: left;
        }
    }

    .promo_checkout {
        background-color: @cart;
        color: white;

        &:hover {
            background-color: @mail_active-hover;
        }
    }
}

.promo-input {
    .cart_checkout {
        background-color: @super_light_grey !important;
        cursor: default;
    }
}

#close-promo-input {
    position: absolute;
    top: -7px;
    font-size: 35px;
    right: 5px;
    cursor: pointer;
}

.cart_delivery_info {
    font-size: 11px;
    color: @cart;
    font-style: italic;
    margin: 0px 0px 4px 0px;    
}
