@import 'vars.less';
@import 'sort.less';
@import 'modal.less';
@import 'button.less';
@import 'top-menu.less';
@import 'tm-menu.less';
@import 'special-groups.less';
@import 'pagination.less';
@import 'referral.less';
@import 'static-pages.less';
// @import 'new-year.less';

@font-face {
    font-family: 'dinpro_medium';
    src: url('/fonts/dinpro-medium-webfont.eot');
    src: url('/fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dinpro-medium-webfont.woff') format('woff'),
         url('/fonts/dinpro-medium-webfont.ttf') format('truetype'),
         url('/fonts/dinpro-medium-webfont.svg#dinpromedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinpro_regular';
    src: url('/fonts/dinpro-regular-webfont.eot');
    src: url('/fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dinpro-regular-webfont.woff') format('woff'),
         url('/fonts/dinpro-regular-webfont.ttf') format('truetype'),
         url('/fonts/dinpro-regular-webfont.svg#dinpro-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rouble';
    src: url('/fonts/rouble/rouble.eot');
    src: url('/fonts/rouble/rouble.woff') format('woff'),
        url('/fonts/rouble/rouble.ttf') format('truetype'),
        url('/fonts/rouble/rouble.svg#rouble') format('svg'),
        url('/fonts/rouble/rouble.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'gotham_pro_bold';
	src: url('/fonts/GothamPro-Bold.eot');
	src: url('/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/GothamPro-Bold.woff') format('woff'),
		 url('/fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'gotham_pro_medium';
	src: url('/fonts/GothamPro-Medium.eot');
	src: url('/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/GothamPro-Medium.woff') format('woff'),
		 url('/fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

html, body {
	height: 100%;
	min-width: 1030px;
}

html * {
	max-height: 1000000px;/* Font boosting fix */
}

footer, nav, header, section, aside {
	display: block
}

body {
	color: @main_font_color;
	font-size: 10pt;
	font-family: Arial, sans-serif;
}

h1, .mcs_title {
	font-size: 16pt;
	text-transform: uppercase;
}

h2  {
	font-size: 14pt;
}

h3 {
	font-size: 12pt;
}

#static-page .tabstyle a.select2-choice{

	padding: 0 0 0 8px !important;
}

#first_map{
	margin-top: 20px;
}

#s2id_cdek.select2-container,#s2id_courier.select2-container,#s2id_cdek_point.select2-container{
max-width: 300px;
}

#s2id_courier {
	display: block;
	margin: 20px 0px 20px 0px;
}

#s2id_cdek_point, #s2id_cdek {
	display: block;
	margin: 5px 0px 20px 0px;
}

.delivery_page_label {
	display: block;
	margin-top: 15px;
}

button {
	border:none;
}

form {
	margin-top: 10px;
}

.phone_number, .question_button, .tag_label, .to_cart, .sign_up, .cosmetolog_choice, .action_end_tag,
.subscribe_button, .main_id_tag, .main_id, .use_and_made h2, .prod_all_reviews, .prod_tag_boxes, .prod_page_title, .talk_to_all_tag, .rew_sub_title,
.info_title, .account_menu a, .order_cancel, .load_bill, .order_repeat, .cats_tm_sub, .scroll_top, .info_title_link, #mobileVersionLink{
	font-family: dinpro_regular, sans-serif;
}

h1, h2, .cart_body p, .auth, .banner_menu p,  .action_end, .talk_to_all_text, .tag_label span, .total_tag, .cart_header, .lvl_3_group_title, .sort, .filter_title, .remove_all_filters,
 .account_menu_price, .text_501, .mcs_title, .end_sell, .article_prod_title, .header_price, .cart_checkout {
	font-family: dinpro_regular, sans-serif;
}

.tag_boxes_small, .spec_price_tag_2 {
	font-family: gotham_pro_medium;
}

.spec_price_tag_3, .spec_price_tag_1, .hurry_tag_1, .small_new_box, .small_action_box, .small_hit_box {
	font-family: gotham_pro_bold;
}


a {
	cursor: pointer;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}

.rub {
	font-family: 'rouble';
	text-transform: lowercase !important;

	&.gray {
		color: @light_grey;
	}
}

.container {
	width: 1000px;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -265px;
}

.row-container {
	width: 1000px;
	overflow: hidden;
}

#footer-push {
	height: 265px;
}

#bot {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}

.header {
	.auth {
		width: 195px;

		.h {
			margin: 10px 0;
			font-size: 18px;
		}

		.auth-btn {
			display: inline-block;
			height: 36px;
			width: 47px;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			margin: 0 10px;

			&:hover {
				opacity: 0.8;
			}

			&.vk {
				background-position: -179px -40px;
				background-color: #507299;
			}

			&.fb {
				background-color: #3b5998;
				position: relative;

				&:after {
					width: 12px;
					height: 36px;
					background-position: -127px -86px;
					top: -1px;
				}
			}

			&.ok {
				background-color: #ee8208;
				position: relative;

				&:after {
					width: 15px;
					height: 26px;
					background-position: -198px -86px;
					top: 5px;
				}
			}

			&.fb:after,
			&.ok:after {
				content: "";
				display: block;
				position: absolute;
				left: 18px;
			}
		}
	}
}

.header_shipping {
	padding: 0;
	width: 260px;
}

.header_menu {
	overflow: hidden;
	height: 33px;
	width: 540px;
	padding: 12px 0 0 0;

	.sales-link {
		color: @accent;
		font-weight: bold;
	}
}

.header_menu a {
	float: left;
	margin-right: 11px;
	text-decoration: underline;
	color: @main_font_color;
		&:hover {
		text-decoration: none;
		border-bottom: none;
		color: @main_active;
	}
}

.header_menu a , x:-moz-any-link{
	margin-right: 12px;
}

.header_menu :last-child {
	margin-right: 0px;
}

.last_element {
	margin-right: 0px!important;
}

.auth {
	width: 23%;
	height: 33px;
	padding: 2px 0px 0px;
}

.login,  .reg {
	padding: 2px 10px 3px;
	display: inline;
	text-transform: uppercase;
	cursor: pointer;
}

.header_room {
	margin: 0;
	padding: 0;
	width: 200px;
}

.header_room a {
	display: block;
	padding: 5px 20px 5px 15px;
	background: @main_active;
	color: white;
	text-transform: uppercase;
	float:right;
}

.login_window, .reg_window {
	-webkit-box-shadow: 0px 3px 28px 0px rgba(50, 50, 50, 0.68);
	-moz-box-shadow:    0px 3px 28px 0px rgba(50, 50, 50, 0.68);
	box-shadow:         0px 3px 28px 0px rgba(50, 50, 50, 0.68);
	background: #ffffff;
	border: 1px solid @super_light_grey;
	margin-top: 15px;
	z-index: 30;
	width: 330px;
	float: right;
	padding: 20px 25px;
	font-family: Arial, sans-serif!important;
	position: relative;
	display: block;
}

.reg_window {
	.backup_psw {
		padding: 0;
		color: @accent !important;
		font-style: italic;
	}
}

.login_in_top, .reg_in_top {
	position: relative;
}

.login_in_bottom, .reg_in_bottom {
	position: absolute;
	bottom: 48px;
	text-align: left!important;
}

.login_in_top:after, .login_in_top:before, .reg_in_top:after, .reg_in_top:before {
	bottom: 100%!important;
	left: 50%!important;
}

.login_in_top:after {
	border-bottom-color: #ffffff!important;
	border-width: 14px!important;
	margin-left:  15px!important;
}
.login_top:before {
	border-bottom-color: @super_light_grey!important;
	border-width: 15px!important;
	margin-left:  14px!important;
}

.reg_in_top:after {
	border-bottom-color: #ffffff!important;
	border-width: 14px!important;
	margin-left:  95px!important;
}

.reg_in_top:before {
	border-bottom-color: @super_light_grey!important;
	border-width: 15px!important;
	margin-left:  94px!important;
}


.login_in_bottom:after, .login_in_bottom:before, .reg_in_bottom:after, .reg_in_bottom:before {
	top: 100%!important;
	right: 62%!important;
}

.login_in_bottom:after {
	border-top-color: #ffffff!important;
	border-width: 14px!important;
	margin-right:  81px!important;
}

.login_in_bottom:before {
	border-top-color: @super_light_grey!important;
	border-width: 15px!important;
	margin-right: 80px!important;
}

.reg_in_bottom:after {
	border-top-color: #ffffff!important;
	border-width: 14px!important;
	margin-right: 2px!important;
}


.reg_in_bottom:before {
	border-top-color: @super_light_grey!important;
	border-width: 15px!important;
	margin-right: 1px!important;
}


.login_window:after, .login_window:before, .reg_window:after, .reg_window:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}

.form-group p {
	font-size: 11pt;
	font-family: Arial, sans-serif;
	color: @unactive_font;
	margin-bottom: 4px;
}

.log_in_btn {
	text-transform: uppercase;
	text-align: center;
	background: @main_active;
	color:white;
	width: 150px;
	padding:2px 10px;
	font-size: 18px;
	margin: 20px 0 20px 60px;
	cursor: pointer;
		&:hover {
			background:@mail_active-hover;
		}
}

.reg_btn {
	text-transform: uppercase;
	text-align: center;
	background: @main_active;
	color:white;
	width: 215px;
	padding:2px 4px;
	font-size: 18px;
	margin: 30px 0 20px 30px;
	cursor: pointer;
		&:hover {
			background:@mail_active-hover;
	}
}


.remember {
	padding: 0 7px 0 15px;
}

.remember span {
	border: none!important;
	display: inline;
	margin-right: 3px;
	padding: 1px 10px;
	background-repeat: no-repeat;
}

.rem_and_back {
	margin-top: 25px;
	font-family: Arial, sans-serif;
}

.rem_ok,
.rem_no,
.header_cart,
.header .auth .auth-btn.vk,
.header .auth .auth-btn.fb:after,
.header .auth .auth-btn.ok:after,
.search span,
.pointer,
.tag_pointer,
.pointer_cart,
.pointer_fav_del,
.two_spot,
.pointer_see_all,
.pointer_left,
.pointer_right,
.cart_min,
.cart_plus,
.talk_to_all_btns .b-share-icon_facebook,
.talk_to_all_btns .b-share-icon_vkontakte,
.talk_to_all_btns .b-share-icon_twitter,
.talk_to_all_btns .b-share-icon_odnoklassniki,
.talk_to_all_btns .b-share-icon_linkedin,
.talk_to_all_btns .b-share-icon_gplus,
.vk .soc_quan p,
.ok .soc_quan p,
.fb .soc_quan p,
.tw .soc_quan p,
.footer_inst,
.footer_yt,
.footer_fb,
.footer_tw,
.footer_ok,
.footer_vk,
.footer_li,
.footer_goo,
.prod_pointer_cart,
.buy_yet_icon,
.favorites_icom,
.icon_reviw,
.cart_ok,
.sort_pointer,
.filter span,
.active_filter span,
.unactive_filter span,
.account_icon,
.cart_icon,
.right_question_icon,
.right_prof_icon_all,
.rp_icon_all_min,
.recall_icon,
.hot_sels,
.hot_delivery,
.expandable .lvl_3_group .lvl_3_group_title:after,
.sort__arrow, /* From sort.less */
.open .sort__arrow, /* From sort.less */
.dropdown-gray-style i.arrow,
.active_filter span,
.sort-link i,
.product-in-list .to_cart,
#found-cheaper .lbl,
#all-tm .rus-flag,
#found-lower-modal .bdg .icn,
#sales-page .ok,
.left_chat:after {
	background-image: url('/images/png_sprite.png');
	background-repeat: no-repeat;
}

.rem_ok {
	background-position: -87px -48px;
}

.rem_no {
	background-position: -87px -69px;
}

.backup_psw {
	text-align: right;
	padding: 0 15px;
	text-decoration: underline;
	color: @blue;
	cursor: pointer;
	&:hover{
	text-decoration: none;
	color: @main_active;
	}
}

.login_win_bottom div {
	text-align: center;
	font-family: Arial, sans-serif;
}

.auth span{
	border-bottom: 1px dotted;
	cursor: pointer;
	&:hover{
	border-bottom: none;
	}

}

.active {
	background: @main_active;
	color: white;
}

.active span {
	border: none!important;
}

.logo {
	top: -12px;
	padding:0;
	height: 84px;
	margin-top: -20px;
	width: 260px;

	&.scrolled {
		img {
			position: fixed;
			top: 0;
		}
	}
}

.search {
	display: inline;
	padding: 10px 6px 9px 0px;
	height: 61px;
	margin: 0px;
	border-right: 1px solid @super_light_grey;
	position: relative;
}

#search-suggestions {
	position: absolute;
	display: none;
	left: 0;
	right: 0;
	background-color: #ffffff;
	padding: 15px;
	z-index: 21;
	width: 480px;
	border: 1px solid #dadada;
	top: 33px;
	box-shadow: -1px 3px 10px #9a9a9a;
	-moz-box-shadow: -1px 3px 10px #9a9a9a;
	-webkit-box-shadow: -1px 3px 10px #9a9a9a;

	.suggestion-block {
		padding-bottom: 15px;

		h5 {
			color: #000000;
			background: none transparent;
			position: relative;
			margin: 0 0 15px;

			& * {
				background: none transparent;
			}

			span {
				display: inline;
				padding-right: 0;
			}

			b {
				color: #969696;
				font-weight: normal;
			}

			a {
				position: absolute;
				right: 0;
				top: -4px;
				padding: 4px;
				background-color: @main_active;
				color: white;
				text-decoration: none;

				&:hover {
					background-color: @mail_active-hover;
				}
			}
		}

		&.categories {
			.suggestion-item {
				padding-bottom: 5px;
			}
		}

		&.last {
			padding-bottom: 30px;
		}

		.suggestion-item {
			padding-left: 10px;

			& * {
				vertical-align: middle;
			}

			&.products-item {
				position: relative;
				padding-bottom: 3px;
				height: 35px;

				.name {
					white-space: nowrap;
					padding-right: 15px;
					overflow: hidden;
					display: block;
					position: relative;

					&:after {
						content: "";
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						width: 15px;
						height: 20px;

						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+70&amp;0+0,1+70 */
						background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%); /* Opera 11.10+ */
						background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%); /* IE10+ */
						background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
					}
				}

				img {
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			&.tm-item {
				.name {
					width: 385px;
				}
			}

			.name {
				width: 400px;
				display: inline-block;
				padding-top: 2px;
				padding-right: 40px;
				padding-bottom: 2px;
			}
		}
	}

	&.scrollable {
		overflow-y: scroll;
	}
}

.header_cart {
	display: inline;
	position: relative;
	margin-left: 4px;
	padding: 10px 22px 9px 22px;
	background-position: -220px 0px;
	background-repeat: no-repeat;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		background-position: -220px -42px;
	}
}

.header_price {
	position: absolute;
	width: 28px;
	height: 18px;
	text-align: center;
	right: 3px;
	top: 6px;
	font-size: 10pt;
	color: #ffffff;
}

@-moz-document url-prefix() {
	.header_price {
		top: 5px;
	}
}

.search_block {
	padding: 12px 0 15px 0;
	width: 590px;

	.cart-info {
		position: absolute;
		text-transform: uppercase;
		top: 11px;
		right: 23px;
		color: @main_font_color;
		cursor: pointer;
		text-decoration: none;
		&:hover{
		    color: @light_grey;
			}

		* {
			font-size: 14px;
		}

		strong {
			font-size: 13px;
			position: relative;
			top: 2px;
		}
	}
}

.search input {
	display: inline;
	width: 390px;
	border-radius: 4px 0 0 4px;
	z-index: 22;
	position: relative;
	&.no-shadow {
		border-color: #cccccc;
		box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}
}


.search button{
	margin-top: -3px;
	margin-left: -5px;
	background: @main_active;
	border-radius: 0 4px 4px 0;
	padding: 8px 16px 8px;
	cursor: pointer;
	display: inline;
	&:hover {
		background: @mail_active-hover!important;
	}
}

.search span{
	display: block;
	margin: 0px;
	padding: 8px;
	background-repeat: no-repeat;
}

.phone {
	margin-top: -2px;
	padding: 0;
	text-align:  right;
	width: 150px;
}

.phone_number {
	margin: 0;
	font-size: 26px;
	color: @bottom_menu !important;
	text-decoration: none;
}

.under_number {
	font-size: 12px;
	margin-top: -2px;
	color: @light_grey;
	line-height: 13px;
}

.top-phone {
	position: relative;
	text-align: left;
	padding-top: 2px;
	height: 55px;

	.phone_number {
		font-size: 20px !important;
		white-space: nowrap;
		font-weight: bold;
		display: block;
		line-height: 22px;
	}

	.under_number {
		margin: -4px 0 2px;
	}
}

.unscroll {
	z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    margin: 0px;
}

.last_element {
	margin-right: 0px!important;
}

.main_menu_active {
	border-bottom: 3px solid @main_active;
}

.banner {
	margin-top: 14px;
	margin-bottom: 12px;
	height: 290px;
}

.banner img {
	display: none;
	position: absolute;
	width: 1000px;
	left:0px;
	cursor: pointer;
}

.banner-copy-area {
	position: absolute;
	cursor: pointer;
}

.active_banner_menu {
    background: url('/images/banner_active_menu.png')!important;
}

.banner_menu {
	padding: 1px 0px;
	height: 290px;
}


.banner_menu p {
	cursor: pointer;
	text-transform: uppercase;
	background: url('/images/banner_menu.png') ;
	background-repeat: repeat;
	padding: 10px;
	margin:7px 0px;
}

.banner map {
	display: none;
}
.pointer {
	display: inline;
	padding: 0px 10px;
	background-position: -15px -1px;
	background-repeat: no-repeat;
}

.info {
	padding-top: 20px;
	border-top: 1px solid @super_light_grey;
	border-bottom: 1px solid @super_light_grey;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 490px;
}

.link {
	color: @main_font_color;
	cursor: pointer;
	font-size: 11pt;
	text-decoration: underline;
	&:hover{
	    color: @main_active;
	    text-decoration: none;
		}
}

.base-links {
	.link {
		margin-right: 7px;
	}
}

.review_active {
	font-size: 11pt;
	color: @main_active;
}

.info_title {
	text-transform: uppercase;
	display: inline;
	font-size: 13pt;
	border-bottom: 2px solid @info;

}

.info_title_link {
	color: @main_font_color;
	text-decoration: none;
	cursor:pointer;
	text-transform: uppercase;
	display: inline;
	font-size: 13pt;
	border-bottom: 2px solid @info;
	&:hover {
		color: @main_font_color;
		border-bottom: 2px solid @main_active;
	}

}

.day_item {
	margin-top: 5px;
	padding: 0 20px 0 0;

	.to_cart {
		float: right;
	}
}

.info_link {
	margin-top: 15px;
}

.info_link p{
	margin: 0px;
}

.under_link {
	color: @unactive_font;
	font-style: italic;
	margin-top: 7px;
	display: block;
	font-size: 9pt;
	&:hover{
		text-decoration: none;
		color: @unactive_font;
	}
}

.day_item_img {
	margin: 20px 0 0 60px;
	padding: 0;
}

.tag_pointer {
	margin: 38px 0 0 -35px;
	padding: 14px 8px;
	background-position: 0px  -16px;
}

.tag_label {
	margin: 20px 0 0 -20px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	width: 85px;
	background: @accent;
	padding: 3px 0px 6px;
	color: white;
}

.tag_label span {
	font-size: 22pt;
	font-weight: bolder;

}

.desc {
	margin: 10px 0;
	color: @unactive_font;
	min-height: 55px;
}

.cart_info {
	margin: 25px 0 30px;
}

.pack {
	color: @unactive_font;
	font-size: 12pt;
	padding: 0;
	margin-bottom: 3px;
}

.price {
	text-align: right;
	text-transform: uppercase;
	font-size: 12pt;
	padding: 0;

}

.ruble {
	padding: 0;
	width: 12px;

}

.to_cart {
	width: 70px;
	text-align: left;
	text-transform: uppercase;
	background-color: @cart;
	color:white;
	padding: 3px 5px 3px 11px;
	margin-left: 38px;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		color: white;
		background-color: @main_active;
	}
}

.order_repeat {
	width: 110px;
	text-transform: uppercase;
	background: @cart;
	color:white;
	padding: 3px 5px 3px 11px;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		color: white;
		background: @main_active;
	}
}

.order_cancel {
	width: 110px;
	text-transform: uppercase;
	background: @cart;
	color:white;
	padding: 3px 5px 3px 11px;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		color: white;
		background: @accent;
	}
}

.load_bill {
	width: 110px;
	text-transform: uppercase;
	background: @main_active;
	color:white;
	padding: 3px 5px 3px 11px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 70px;

	&:hover {
		color: white;
		background: @mail_active-hover;
	}
}

.pointer_cart {
	margin-left: 8px;
	width: 10px;
	padding: 0px 7px;
	background-position: -50px  0px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.pointer_fav_del {
	margin-left: 28px;
	width: 10px;
	padding: 0px 7px;
	background-position: -50px  0px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.action_end {
	background: @accent;
	margin: 0;
	padding: 4px;
}

.action_end_tag {
	margin: 7px 0 0 12px;
	padding: 0;
	font-size: 12pt;
	color:white;
	text-transform: uppercase;
	line-height: 1;
	width: 100px;
}

.end_time {
	padding: 2px 8px;
	background: white;
	color: @accent;
	font-size: 22pt;
	font-weight: bolder;
}

.two_spot {
	margin: 15px 2px 0 2px;
	width: 6px;
	padding: 8px 3px;
	background-position: -96px  1px;
	background-repeat: no-repeat;
}

.question {
	margin-top: 5px;
}

.costetolog_photo {
	margin-top: 10px;
	padding: 0 0 0 15px;

}

.cosmetolog {
	margin-top: 15px;
	padding: 0 15px 0 0;

	.under_link {
		white-space: nowrap;
	}
}

.cosmetolog p{
	margin:0;
}

.cosmetolog_desc {
	color: @unactive_font;
	margin-top: 13px;
}

.question_button {
	text-transform: uppercase;
	text-align: center;
	background: @main_active;
	color:white;
	width: 185px;
	padding:2px 10px;
	font-size: 18px;
	margin: 20px 0 15px 80px;
	cursor: pointer;
}

.question_body {
	margin: 12px 0;
}

.question_body p {
	margin:0 0 3px 0;
	font-weight: bolder;
}

.question_body div {
	color: @unactive_font;
	font-style: italic;
}

.all_questions {
	margin-bottom: 25px;
}

.see_all {
	text-decoration: underline;
	text-align: right;
	padding: 0px 20px 0px 0px;
	&:hover{
		text-decoration: none;
	}
}

.pointer_see_all {
	padding: 0px 4px;
	margin-left: 5px;
	background-position: -102px  2px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.nearest_mc_link{
	margin-top: 15px;
}

.nearest_mc {
	margin-top: 8px;

	&.str1 {
		.nearest_mc_link p {
			line-height: initial;
			width: 240px;
			height: 20px;
			margin: 0;
		}
	}

	&.str2 {
		.nearest_mc_link p {
			line-height: initial;
			width: 240px;
			height: 35px;
			margin: 0;
		}
	}

	&.str3 {
		.nearest_mc_link p {
			line-height: initial;
			width: 240px;
			height: 50px;
			margin: 0;
		}
	}
}


.nearest_mc_link p{
	line-height: initial;
	width: 240px;
	margin: 0;
}



.pointer_left {
	margin-top: 18px;
	width: 25px;
	height: 44px!important;
  background-position: 0px -43px;
  background-repeat: no-repeat;
	cursor: pointer;
}
.pointer_right {
	margin-top: 18px;
	width: 25px;
	height: 44px!important;
  background-position: -20px -43px;
  background-repeat: no-repeat;
	cursor: pointer;
}

.nearest_mc img {
	text-align: center;
	margin: 10px 0 10px 30px;
}

.hidden {
	display: none;
}

.n_mc_date {
	color: @main_active;
	font-size: 10pt;
}

.sign_up {
	text-transform: uppercase;
	text-align: center;
	background: @main_active;
	color:white;
	width: 150px;
	padding:2px 10px;
	font-size: 18px;
	margin: 15px 0 15px 90px;
	cursor: pointer;
}

.special_prods {
	margin-top: 15px;
}

.spec_product {
	padding:15px 15px 0px 15px;
	border: 1px solid #fff;
   &:hover {
   	border: 1px solid @light_grey;
   	box-shadow: 0 0 10px @light_grey;
   }
}

.spec_item_img {
	margin: 0 13px 0 13px;
	padding: 0;
}

.cart_tag {
	color: @main_active;
	text-align: center;
	width: 90px;
	padding: 0;
	margin-left: -2px;
}
.cart_couter {
	margin: -18px 0 0 38px;
	padding: 0 8px;
}

.in_cart{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12pt;
	width: 80px;
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
}

.test {
	text-align: center;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12pt;
	width: 80px;
	text-align: center;
	font-weight: bold;
}

.cart_min {
    background-position: -16px -18px;
    padding: 3px 11px;
    margin-right: 6px;
    cursor: pointer;
    	&:hover {
	 	background-position: -62px -18px;
	}
}

.cart_plus {
    background-position: -39px -18px;
    padding: 3px 11px;
    margin-left: 6px;
    cursor: pointer;
        	&:hover {
	 	background-position: -84px -18px;
	}
}

.new_price {
	color: @accent;
}

.old_price {
	font-size: 11pt;
	text-decoration: line-through;
}

.spec_price {
	margin-top: -20px;
}

.pre_cart_title{
	color: @light_grey;
	width: 63px;
	cursor: pointer;
	padding: 0;
	margin: -5px 0 0 15px;
	font-size: 10pt;
}

.pre_cart_icon {
	margin: -2px 0 0 3px;
	border-bottom: none;
	font-size: 8pt;
	color:white;
	background: @light_grey;
	font-style: italic;
	padding: 0 5px;
	cursor: default;
}

.review_and_sub {
	margin-top: 40px;
	margin-bottom: 25px;
}

.rew_sub_area {
	padding-top: 20px;
	padding-bottom: 20px;
}

.rew_sub_title {
	display: inline;
	text-transform: uppercase;
	font-size: 13pt;
	border-bottom: 2px solid @info;
}

a.rew_sub_title {
	color: @main_font_color;
	text-decoration: none;
}

.subscribe input {
	width: 260px;
	margin: 0 0 0 15px;
}

.subscribe_button {
	text-transform: uppercase;
	text-align: center;
	background: @main_active;
	color:white;
	width: 172px;
	padding:6px 0px;
	text-transform: uppercase;
	cursor: pointer;
	margin-left: 10px;
	font-size: 12pt;
	&:hover{
		background: @mail_active-hover!important;
	}
}

.form_save {
	text-transform: uppercase;
	text-align: center;
	background: @main_active;
	color:white;
	width: 130px;
	padding:6px 8px;
	font-size: 10pt;
	margin: 10px 15px 0 15px;
	&:hover{
		background: @mail_active-hover!important;
	}
}

.sub_desc {
	margin: 20px 0;
	color: @unactive_font;
}

.review_text {
	font-style: italic;
	margin: 20px 0;
	color: @unactive_font;
	font-size: 11pt;
}

.reviewer {
	text-align: right;
  margin-bottom: 10px ;
  font-weight: bolder;
}

.talk_to_all {
	margin: 20px 0;
}

.talk_to_all_btns {
	margin-left: -8px;
}

.talk_to_all_btns a {
	 width:40px;
	 height:40px;
	 border-radius:20px;
	 -moz-border-radius:20px;
	 -webkit-border-radius:20px;
	 -khtml-border-radius:20px;
	 text-align:center;
	 margin: 0 5px;
}


.talk_to_all_text {
	text-transform: uppercase;
	font-size: 13pt;
	margin-top: 8px;
}

.talk_to_all {
	.talk_to_all_text {
		width: 230px;
	}
}

.talk_to_all_btns .b-share-btn__facebook {
	background: @light_grey no-repeat;
	&:hover{
		background: @fb no-repeat;
	}
}


.talk_to_all_btns .b-share-icon_facebook{
	padding: 10px 9px!important;
	margin: 5px 0 0 11px;
	background-position: 0px -90px;
}


.talk_to_all_btns .b-share-btn__vkontakte {
	background: @light_grey no-repeat;
	&:hover{
		background: @vk no-repeat;
	}
}


.talk_to_all_btns .b-share-icon_vkontakte {
	padding: 9px!important;
	margin: 6px 0 0 12px;
	background-position: -57px -91px;
}


.talk_to_all_btns .b-share-btn__twitter {
	background: @light_grey no-repeat;
	&:hover{
		background: @tw no-repeat;
	}
}


.talk_to_all_btns .b-share-icon_twitter {
	padding: 9px!important;
	margin: 6px 0 0 11px;
	background-position: -19px -91px;
}


.talk_to_all_btns .b-share-btn__odnoklassniki {
	background: @light_grey no-repeat;
	&:hover{
		background: @ok no-repeat;
	}
}


.talk_to_all_btns .b-share-icon_odnoklassniki {
	padding: 10px 9px!important;
	margin: 4px 0 0 11px;
	background-position: -39px -90px;
}


.talk_to_all_btns .b-share-btn__linkedin {
	background: @light_grey no-repeat;
	&:hover{
		background: @ln no-repeat;
	}
}


.talk_to_all_btns .b-share-icon_linkedin {
	padding: 10px!important;
	margin: 4px 0 0 10px;
	background-position: -76px -89px;
}


.talk_to_all_btns .b-share-btn__gplus {
	background: @light_grey no-repeat;
	&:hover{
		background: @goo no-repeat;
	}
}


.talk_to_all_btns .b-share-icon_gplus {
	padding: 10px 10px!important;
	margin: 4px 0 0 8px;
	background-position: -100px -90px;
}

.social {
	margin: 40px -15px 30px -15px;
}

.social a {
	display: block;
}

.soc_quan {
	margin: 0;
	padding: 12px 0;
	color:white;
	text-align: center;
	&:hover{
		color:white;
	}
}

.soc_quan div {
	padding: 0;
}

.soc_user {
	margin:10px 0;
}

.soc_user_pic {
	padding: 0 0 0 10px;
}

.soc_user_info {
	padding: 10px 0 10px 15px;
}

.soc_user_info a{
	text-decoration: none;
	color: @soc_vk;
}

.soc_user_info div{
	color: @unactive_font;
}

.soc_user_info span{
	font-style: italic;
	font-size: 9pt;
	padding-top: 2px;
}

.soc_subscribe {
	height: 40px;
	margin: 0;
	padding: 10px 0;
	color:white;
	text-decoration: none;
	&:hover{
		color:white;
	}
}

.vk .soc_subscribe div {
	border-bottom: 2px solid #98c6de;
    margin: 0 38px;
}

.ok .soc_subscribe div {
	border-bottom: 2px solid #f2c394;
	margin: 0 58px;
}

.fb .soc_subscribe div {
	border-bottom: 2px solid #98bcdd;
	margin: 0 58px;
}

.tw .soc_subscribe div {
	border-bottom: 2px solid #98e0ef;
	margin: 0 82px;
}

.soc_subscribe div {
	padding: 0;
	width:auto;
	&:hover{
		border-bottom: none;
	}
}


.vk .soc_user_info a{
	color: @soc_vk;
}

.ok .soc_user_info a{
	color: @soc_ok;
}

.fb .soc_user_info a{
	color: @soc_fb;
}

.tw .soc_user_info a{
	color: @soc_tw;
}

.vk .soc_subscribe, .vk .soc_quan{
	background: @soc_vk;
}

.vk .soc_quan p {
	background-position: -57px -91px;
	padding: 9px;
	margin: 2px 5px 0 15px;
}

.ok .soc_subscribe, .ok .soc_quan{
	background: @soc_ok;
}
.ok .soc_quan p {
	padding: 10px 9px;
	margin: 0px 5px 0 15px;
	background-position: -39px -90px;
}

.fb .soc_subscribe, .fb .soc_quan{
	background: @soc_fb;
}
.fb .soc_quan p {
	padding: 10px 9px;
	margin: 0px 5px 0 15px;
	background-position: 0px -90px;
}

.tw .soc_subscribe, .tw .soc_quan{
	background: @soc_tw;
}
.tw .soc_quan p {
	padding: 9px;
	margin: 1px 5px 0 15px;
	background-position: -19px -91px;
}

.pay_systems, .shipping_comp {
	margin: 5px 0 25px 0;
 }


.pay p, .shipping p {
	padding: 24px 0;
	margin-right: 12px;
}

.pay .maestro,
.shipping .sdek, .mir {
	margin-right: 0;
}

.pay {
	width: 425px;
}

.shipping {
	width: 475px;

	p {
		margin-top: 8px;
	}
}

.pay, .shipping {
	margin-top: 20px;
}

.ps_short {
	margin-top: 0px;
}

.shipping_title, .pay_title {
	font-size: 12pt;
	font-weight: bold;
}

.web_money,
.ya_money,
.visa,
.mastercard,
.maestro,
.mir,
.ppoint,
.post_rf,
.ems,
.shipping .sdek {
  background-image: url('/images/pay_shipping.png');
  background-repeat: no-repeat;
}

.web_money {
	width: 75px;
	background-position: 5px 0;
}

.ya_money {
	width: 99px;
	background-position: -72px 1px;
}

.visa {
	width: 57px;
	background-position: -170px 1px;
}

.mastercard {
	width: 55px;
	background-position: -229px 0;
}

.maestro {
	width: 52px;
	background-position: -285px 0;
}

.mir {
	width: 70px;
	background-position: -338px -46px;
}

.post_rf {
	width: 71px;
	height: 33px;
	padding: 0 !important;
	background-position:  -338px -11px;
}

.ppoint {
	background-position: 0 -48px;
	width: 134px;
}

.ems {
	width: 79px;
	background-position: -136px -44px;
}

.shipping .sdek {
	width: 120px;
	background-position: -219px -47px;
}

.footer_background{
	bottom: 0;
	width: 100%;
	min-width: 1000px!important;
	height: 320px;
    background: linear-gradient(to top, #7abc47, #e2f195);
	*background-color:  #8dc655;
	background-color: #8dc655\9;
}

.footer {
	padding: 20px 15px 38px 15px;

	.second_phone {
		text-decoration: none;
		font-size: 18px;
		color: @super_light_grey;
		white-space: nowrap;
		display: block;
		padding-top: 22px;
	}

	.phone_number {
		margin-top: 16px;
		display: block;
	}
}

.footer_title {
	font-size: 12pt;
	font-weight: bold;
	margin: 0 0 10px;
}

.foter_links a {
	color:white;
}

.copyright {
	margin: 25px 0 0 0;
	font-size: 9pt;
}

.footer_phone {
	text-align: right;
}

.footer_phone_tag {
	margin-top: -5px;
	color:white;
}

.footer_soc {
	text-align: right;
}

.footer_soc a{
	margin-left: 30px;
	display:inline;
	text-align: right;
}

.footer_yt {
	padding: 3px 13px;
    background-position: -121px -125px;
}

.footer_inst {
    padding: 4px 10px;
    background-position: -247px -116px;
}

.footer_fb {
	padding: 2px 7px;
	background-position: 0 -90px;
}

.footer_tw {
	padding: 2px 7px;
	background-position: -19px -91px;
}

.footer_ok {
	padding: 2px 7px;
	background-position: -39px -90px;
}

.footer_vk {
	padding: 0px 7px;
	background-position: -57px -91px;
}


.footer_li {
	padding: 2px 9px;
	background-position: -76px -89px;
}

.footer_goo {
	padding: 2px 10px;
	background-position: -102px -91px;
}

.sub_backgroung {
	background: @sub_backgroung;
	border-top: 1px solid @super_light_grey;
	border-right: 1px solid @super_light_grey;
	border-bottom: 1px solid @super_light_grey;
}

.fast_view {
	position: absolute;
	text-align: center;
	background: #8dc655;
	color: white;
	width: 180px;
	padding: 6px 8px;
	font-size: 10pt;
	text-transform: uppercase;
	cursor: pointer;
	opacity: 0;
	margin: -45px 0 25px 55px;
	&:hover {
		opacity: 0.6;
	}
}

.product {
	margin-top: 25px;
	min-height: 280px;

	.for_proff {
		position: relative;
		left: -15px;
		font-size: 14px;
	}
}

.prod_tag_boxes {
	position: absolute;
	top: 4px;
	right: 8px;
	padding: 4px 11px;
	color: white;
	cursor: default;
	a {
		display: block;
		text-decoration: none;
		position: relative;
		text-transform: uppercase;
		line-height: 1.2;
		z-index: 2;
		margin-bottom: 17px;
		min-width: 79px;
		color: white;
		text-align: center;
		clear: both;
		white-space: nowrap;
	}
	span {

		display: block;
		text-decoration: none;
		position: relative;
		text-transform: uppercase;
	}

}

.tag_boxes_small {
	position: absolute;
	top: -16px;
	right: -12px;
	padding: 4px 11px;
	color: white;
	cursor: default;

	a {
		display: block;
		text-decoration: none;
		position: relative;
		text-transform: uppercase;
		color: white;
		line-height: 1.2;
		z-index: 2;
		margin-bottom: 17px;
		min-width: 79px;
		text-align: center;
		float: right;
		clear: both;
		white-space: nowrap;
	}
	span {

		display: block;
		text-decoration: none;
		position: relative;
		text-transform: uppercase;
	}
}


.small_action_box {
	background: @action;
	padding: 12px 5px;
	text-align: right;
	color: white;
	line-height: 1.2;
	z-index: 2;
	margin-bottom: 17px;
	min-width: 79px;
	text-align: center;
	float: right;
	clear: both;
	white-space: nowrap;
	padding: 5px 7px 3px 7px;
	font-size: 10px;
	text-align: center;
}

.small_new_box {
	background: @new_new_tag;
	padding: 11px 7px 9px 7px;
	font-size: 11px;
	text-align: center;
}

.small_hit_box {
	background: @new_hit_tag;
	padding: 12px 7px 9px 7px;
	font-size: 10px;
	text-align: center;
	-moz-transform: rotate(15deg); 
    -ms-transform: rotate(15deg); 
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    border-radius: 4px;
}

.small_spec_price_box {
	background: @new_action_tag;
	text-align: center;
	font-size: 20px;
	padding: 5px 7px 3px 7px;

}

.small_hurry_box {
	background: @new_hurry_tag;
	text-align: center;
	font-size: 20px;
	padding: 5px 7px 3px 7px;

}
.hurry_tag_1 {
	color: @new_hurry_tag;
	font-size: 10px;
}

.spec_price_tag_1 {
	color: @new_action_tag;
	font-size: 10px;
}

.spec_price_tag_2 {
	margin-top: 5px; 
	color: @new_action_tag;
	font-size: 8px;
}

.spec_price_tag_3 {
	margin-top: 1px; 
	color: @new_action_tag;
	font-size: 12px;

	span {
		display: inline;
		font-size: 10px!important;
	}
}


.eng_name {
	font-family: Arial, sans-serif;
	color: @light_grey;
	font-size: 12pt;
	text-transform: none;
}

.h2_tm {
	position: absolute;
	top: -3px;
	font-size: 10pt;
	color:@light_grey;
	font-family: arial, sans-serif;
	&:hover{
		color: @main_active;
	}
}

.product_pack_price {
	width: 276px;
	margin-top: -7px;
	padding: 7px 5px 0 15px;

	.prod_cart {
		margin-left: 17px;
	}
}

.main_id_tag {
	margin: 0;
	color: @main_active;
	text-transform: uppercase;
}

.main_id {
	font-size: 12pt;
	font-weight: bold;
	margin: 0;
	color: @main_active;
}

.prod_price {
	text-align: right;
	text-transform: uppercase;
	font-size: 16pt;
	padding: 0;
	width: 200px;
	margin-left: -40px;

	.stock-label {
		top: -2px;
	}
}
.stock-label {
	color: @main_active;
	white-space: nowrap;
	font-size: 15px;
	padding-left: 8px;
	position: relative;
	text-transform: lowercase;
}

.prod_counter {
	margin-left: 100px;
}

.pack_line {
	border-bottom: 1px solid @light_grey;
	margin: 12px 0;
	padding: 0 0 0 15px;
}

.prod_old_price {
	text-align: right;
	font-size: 12pt;
	padding: 0;
	margin-top: 1px;
	width: 80px;
	position: absolute;
	top: -6px;
	left: 0;

	.price {
		color: @light_grey;
		font-size: 15px;
		text-decoration: line-through;
	}
}

.prod_new_price {
	width: 80px;
	color: @accent;
	text-align: right;
	text-transform: uppercase;
	font-size: 14pt;
	padding: 0;
	font-weight: bold;
}

.prod_cart {
	width: 160px;
	font-size: 13pt;
	text-align: center;
	text-transform: uppercase;
	background: @cart;
	color:white;
	text-decoration: none;
	padding: 6px 10px 5px 25px;
	margin: 2px 0 0 25px;
	cursor: pointer;
	&:hover {
		color: white;
		background: @main_active;
	}
}

.prod_pointer_cart {
	margin-left: 9px;
	padding: 0px 7px;
	background-position: -50px  2px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.present {
	margin-top: 3px;
	text-align: right;
}

.price_and_counter {
	padding: 0;
}

.price2_and_counter {
	padding: 10px 0 0;
	float: right;
	height: 31px;
	width: 170px;
	position: relative;
	left: 2px;
}

.underline_dahsed {
	border-bottom: 1px dashed;
	&:hover {
		border: none;
	}
}

.prod_discr {
	width:390px;
	padding: 0 5px 0 25px;
}

.prod_discr h1 {
    margin-top: 23px;
}

.prod_f_desc {
	margin-top: 25px;
}

.yet_and_favorites {
	padding: 15px;
}

.buy_yet_icon {
	width: 20px;
	padding: 9px 5px;
	background-position: -130px -21px;
	background-repeat: no-repeat;
}

.yet_and_favorites_link {
	padding: 0 0 0 5px;
	color: @light_grey;
	text-decoration: none;
	font-size: 16px;
}

.yet_and_favorites_link span:hover {
	color: @light_grey;
}

.favorites_icom {
	width: 20px;
	padding: 9px 5px;
	background-position: -120px 1px;
	background-repeat: no-repeat;
	margin-top: 2px;
	float: left;
}

.talk_to_all_tag {
	font-size: 10pt;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}

.use_made_underine {
	border-bottom: 1px solid @info;
	margin: 37px 0 0 3px;
}

#product-tabs {
	.tab-btn {
		float: left;
		font-size: 13pt;
		text-transform: uppercase;
		padding: 10px 15px;
		margin: 0;
		cursor: pointer;
		margin-right: 15px;

		&.vis {
			background: @info;
			color: white;
			cursor: default;
			border-bottom: none;

			span {
				border-bottom: none;
			}
		}

		span {
			border-bottom: 2px dotted;

			&:hover {
				border-bottom: none;
			}
		}
	}

	.tab-content {
		margin-top: 20px;
	}
}

.prod_review {
	margin: 20px 0;
}

.icon_reviw {
	margin: 2px 0 0 10px;
	width: 20px;
	padding: 9px 5px;
	background-position: -137px 1px;
	background-repeat: no-repeat;
}

.underline_solid {
	border-bottom: 2px solid @info;
}

.prod_page_title {
	text-transform: uppercase;
	font-size: 13pt;
	margin-bottom: 2px;
}

.article_prod_title {
	text-transform: uppercase;
	font-size: 13pt;
	margin-bottom: 2px;
	margin-top: 20px;
	text-align: right;
}

#article {
	.pack {
		width: 60px;
	}

	.to_cart {
		margin-left: 6px;

		&.profi {
			margin-left: 25px;
		}
	}

	p.waiting {
		margin-left: 9px;
	}

	.spec_item_img {
		margin: 0;
	}
}

.reviw_link_tag {
	padding: 0;
	text-align: left;
}

.review_box {
	width: 450px;
	color: @unactive_font;
	position: relative;
	border: 1px solid @unactive_font;
	padding: 10px 15px 12px 15px;
}
.review_box:after, .review_box:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	position: absolute;
}

.review_box:after {
	border-bottom-color: white;
	border-width: 10px;
	margin-left: -30px;
}
.review_box:before {
	border-bottom-color: @unactive_font;
	border-width: 11px;
	margin-left: -31px;
}

.prod_reviewer {
	margin: 15px 0;
	color: @blue;
	text-align: left;
}

.review_date_city {
	font-style: italic;
	color: @light_grey;
}

.prod_see_all {
	text-align: right;
	margin: 10px 0;
}

.prod_see_all a {
	color: @blue;
	text-transform: uppercase;
	position: relative;
	border-bottom: 1px dashed @blue;
	text-decoration: none;
	&:hover {
		border: none;
	}
}


.prod_see_all a::before {
	content: "";
	position: absolute;
	top: 13px;
	margin-top: -11px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid @blue;
	left: -14px;

}

.active_spec_prod {
	padding: 0 20px;
}

.recomended_products {
	padding: 20px 0 0 0;
	border-top: 1px solid @super_light_grey;
	margin-bottom: 20px;
	position: relative;

	.arrow {
		display: none;
		position: absolute;
		font-size: 65px;
		top: 220px;
		left: -50px;
		text-decoration: none;
		color: @light_grey;

		&.inactive {
			color: @super_light_grey;
		}

		&.next {
			left: 1015px;
		}
	}
}

@media (max-width: 1120px) {
	.recomended_products {
		.arrow {
			display: none !important;
		}
	}
}

.room_left_menu a, .cart_left_menu a {
	color: @main_font_color;
	display: block;
	margin-bottom: 1px;
	font-size: 12pt;
	padding: 15px 11px;
	text-decoration: none;
}

.cart_aside_done {
	background-color: @cart_aside_done;
	padding-right: 20px;
	cursor: pointer;
	background-repeat: no-repeat;
}

.cart_aside_active {
	background-color: @cart_aside_active;
}

.cart_aside_unactive {
	background-color: @sub_backgroung;
}

.cart, .room {
	margin: 5px 0 90px 0;
}

.room {
	.order-paid {
		color: @main_active;
		font-size: 1.2em;
		line-height: 15px;
	}

	.submit-pay {
		background-color: @blue;
		color: white;
		padding: 2px 10px;
		text-transform: uppercase;
		position: relative;
		top: -1px;
		border: none;

		&:hover {
			background-color: @btrp_link;
		}
	}

	.payment-form {
		display: inline;
	}

	.old-price {
		text-decoration: line-through;
	}

	.special-price {
		color: @accent;
	}

	.sum {
		padding: 10px 0;

		.col-xs-2 {
			text-align: center;
		}
	}

	.bottom-links {
		padding-top: 15px;
	}
}

.cart_ok {
	display: inline;
	padding: 0px 10px;
	float: right;
	background-position: -62px -45px;
	width: 20px;
	height: 20px;
	margin: 0 -6px 0 0;
}

.cart_bill {
	min-height: 60px;
	font-size: 11pt;
}

.total_tag {
	font-size: 12pt;
	text-transform: uppercase;
}

.total_info div {
	padding: 2px 0;
}

.cart_header, .room_header {
	font-size: 9pt;
	text-transform: uppercase;
	padding-bottom: 1px;
	border-bottom: 1px solid @light_grey;
	margin-bottom: 10px;
}

.cart_header .col-xs-2{
	padding: 0 20px 0 10px;
	text-align: center;
}

.cart_photo {
	padding: 0 0 0 15px;
	width: 100px;
}

.cart_desc {
	padding: 7px 5px 7px 15px;
	width: 230px;

	.certificate-box {
		input {
			padding: 1px 5px;
			border: 1px solid @super_light_grey;
			width: 60px;
		}
	}
}

.cart_desc p {
	margin: 3px 0 0 0;
}

.cart_desc a{
	color: @main_font_color;
	font-size: 10pt;
	&:hover{
	    color: @main_active;
	    text-decoration: none;
		}
}

.red {
	color: red;
}

.cart_ps {
	padding: 0px 15px 0px 120px;
	margin-top: -5px;
}

.cart_checkout{
	text-transform: uppercase;
	text-align: center;
	background: @cart;
	color:white;
	width: 178px;
	margin-top: 3px;
	padding:13px 10px;
	font-size: 13pt;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	&:hover {
		background: @mail_active-hover!important;
	}
}

.cat_art_link {
	margin-top: 30px;
	text-align: right;
	padding: 0;
}

.lvl_3 {
	padding: 0 15px;
	margin-top: 15px;
}

.lvl_3_block {
	float: left;
}

.lvl_3_last {
	margin-right: 0px!important;
	border: none!important;
}

.lvl_3 ul {
	padding: 0;
	float: left;
	list-style: none;
	width: 145px;
}

.expandable {
	.lvl_3_group {
		margin-right: 18px;
		float: left;
		position: relative;

		&.tms {
			float: right;

			.sub_tm_menu {
				left: -820px;
			}
		}

		.lvl_3_group_title {
			cursor: default;
			text-decoration: underline;
			margin-right: 120px;
			position: relative;

			&:after {
					content: "";
					display: block;
					position: absolute;
					width: 13px;
					height: 7px;
					background-position: -193px -76px;
					background-repeat: no-repeat;
					background-color: transparent;
					right: -16px;
					top: 23px;
			}
		}

		.lvl_3_block {
			display: none;
			background-color: white;
			z-index: 1;
			border: solid #f7f7f7 !important;
			padding: 0 30px 10px;
			position: absolute;
			width: 300px;
			border-width: 0 0 1px 1px !important;

			&.c2 {
				width: 530px;
			}

			&.c3 {
				width: 770px;
			}

			&.c4 {
				width: 1000px;
			}
		}

		&.hover {
			.lvl_3_block {
				display: block;
			}
		}
	}

	.tm-menu_all {
		padding: 0;
		font-size: inherit;
		background: none;

		div {
			color: black;
			display: block;
			cursor: pointer;
			margin-right: 0 !important;
			font-weight: bold;
			text-decoration: none !important;

			&:after {
				display: none !important;
			}
		}
	}
}

.sub_tm_menu {
	.col {
		width: 16.5%;
		float: left;

		.tm_menu_title {
			clear: left;
		}
	}
}

.lvl_3_group_title {
	text-transform: uppercase;
	font-size: 11pt;
	padding: 15px 0 8px;
	margin: 0;
	font-weight: normal;
	line-height: inherit;
}

.lvl_3 li {
	margin: 8px 0;
}

.lvl_3 a {
	color: @main_font_color;
	text-decoration: none;
	border-bottom: 1px dashed;
	&:hover {
		color: @main_active;
		border-color: transparent;
	}
}

#all-tm {
	&.lvl_3 {
		ul {
			width: 161px;

			li {
				a {
					font-size: 14px;
					border: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.country {
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 7px;
		padding: 5px 10px;
		border: 1px solid @super_light_grey;
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		cursor: pointer;

		&:hover {
			background-color: @menu_line;
		}

		&.vis {
			color: @main_active;
			border-color: @main_active;
			background-color: white;
		}
	}

	.country_link {
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 7px;
		padding: 5px 10px;
		border: 1px solid @super_light_grey;
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		cursor: pointer;

		&:hover {
			background-color: @menu_line;
		}

		&.vis {
			color: @main_active;
			border-color: @main_active;
			background-color: white;
		}
	}

	.tm {
		display: none;

		&.vis {
			display: block;
		}
	}
}

#clear-countries {
	font-size: 25px;
	cursor: pointer;
	position: relative;
	top: 3px;
	line-height: 0;

	&:hover {
		color: @main_active;
	}
}

.sort {
	margin: 0px 0 10px 0;
	text-transform: uppercase;
	font-size: 10pt;
	position: relative;
}

.sort_titile {
	padding: 0;
}

.sort_variant ul {
	z-index: 10;
	position: absolute;
	width: 192px;
	list-style: none;
	padding: 0;
	margin-top: -4px;
	border: 1px solid @main_active;

}

.sort_variant li {
	padding: 4px 10px;
	color: @main_active;
	background: white;
	cursor: pointer;
	&:hover {
		color: white;
		background: @main_active;
	}
}

.sort_pointer {
	margin: 2px -5px 0 0;
	float: right;
	display: inline;
	padding: 6px 10px;
	background-position: -15px -1px;
	background-repeat: no-repeat;
}

.sort_pointer_active {
	background-position: 25% 2%;
}

.sort_main {
	color: white!important;
	background: @main_active!important;
}

.active_sort_main {
	color: @main_active!important;
	background: white!important;
	border: 2px solid @main_active;
}

.products {
	padding: 0 20px 20px;

	transition: 0.15s ease-out opacity;
	-o-transition: 0.15s ease-out opacity;
	-moz-transition: 0.15s ease-out opacity;
	-webkit-transition: 0.15s ease-out opacity;
}

.products-loading {
	&.loading {
		opacity: 0.15;
	}
}

.filters {
	z-index: 5;
	position: absolute;
	right: -1px;
	width: 312px;
	padding: 20px 20px 15px 35px;
	background-color: #fff;
	border-left: 1px solid @super_light_grey;
}

.filter_info_tag {
	color: @unactive_font;
	font-style: italic;
}

.filter_title {
	text-transform: uppercase;
	font-size: 11pt;
	margin-bottom: 22px;
}

.filters p {
	font-size: 11pt;
	cursor: pointer;
	&:hover {
		color: @main_active;
	}
}

.filter span {
	display: inline;
	margin-right: 3px;
	padding: 1px 11px;
	background-position: -87px -69px;
}

.active_filter {
	color: @main_active;
}

.unactive_filter {
	cursor: default!important;
	color: @light_grey;
	&:hover {
		color:  @light_grey!important;
	}
}

.active_filter span {
	background-position: -87px -48px;
}

.unactive_filter span {
	background-position: -112px -48px;
}

.account_menu {
	box-shadow: 0 5px 30px #555;
	width: 100%;
	background: @bottom_menu;
	text-align: center;
	height: 42px;
	padding: 9px 0px 11px 0px;
	min-width: 1000px!important;
}

.ac_menu_solid {
	border-bottom: 1px solid;
	&:hover {
		border: none;
	}
}

.account, .ac_cart {
	text-transform: uppercase;
	color: white;
	display: inline;
	text-decoration: none;
}

.account a, .ac_cart a , .ac_favourite a {
	color: white;
	display: inline;
	text-decoration: none;
}

.ac_viewed, .ac_favourite {
	color: white;
	display: inline;
	text-decoration: none;
		&:hover {
			color:white;
		}
}

.ac_button {
	text-transform: uppercase;
	font-size: 12pt;
	padding: 10px 10px 12px 10px;
	background: @main_active;
	border: none!important;
	color: white;
	display: inline;
	text-decoration: none;
		&:hover {
			color:white;
			background: @mail_active-hover;
			text-decoration: none;
		}
}

.account_icon {
	padding: 0px 10px;
	background-position:  -132px -49px;
	background-repeat: no-repeat;
	margin-right: 5px;
}

.cart_icon {
	padding: 2px 10px;
	background-position:  -110px -69px;
	background-repeat: no-repeat;
	margin-right: 5px;
}

.bottom_menu_tag {
	position: relative;
	background: @bottom_menu_tag;
	padding: 2px 6px;
	margin-left: 10px;
	color: @bottom_menu;
}

.bottom_menu_tag:after {
	right: 100%;
	top: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bottom_menu_tag:after {
	border-right-color: @bottom_menu_tag;
	border-width: 5px;
	margin-left: -5px;
}

.account_menu_price {
	margin: 2px 0 0 10px;
	font-size: 11pt;
	font-weight: bold;
}

.bottom-panel-row {
	position: relative;
}

.bottom-cart {
	.rub {
		font-size: 16px;
	}
}

.show_cart {
	display: block;
	position: absolute;
	z-index: 20;
	width: 320px;
	right: 120px;
	-webkit-box-shadow: 0px -1px 30px 0px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:    0px -1px 30px 0px rgba(50, 50, 50, 0.8);
	box-shadow:         0px -1px 30px 0px rgba(50, 50, 50, 0.8);

	&.fixed {
		position: fixed;
		bottom: 70px;
		right: 20px;
	}
}

.cart_body {
	text-align: left;
	display: block!important;
	position:relative;
	background: white;
	padding: 25px 25px 20px;

	.pack {
		font-size: 12px;
		text-transform: initial;
		color: @light_grey !important;
		margin-top: 5px;
	}
}


.cart_body:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cart_body:after {
	border-top-color: white;
	border-width: 12px;
	margin-left: -14px;
}

.cart_body div, .cart_body a, .cart_body h3 {
	color: @main_font_color!important;
	display: block;
}

.cart_body p {
	font-size: 13pt;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}

.cart_body_info {
	margin-bottom: 40px;
}

.cart_body_info img {
	margin-right: 15px;
}

.cart_body_links a {
	display: block;
	text-decoration: underline;
	margin-bottom: 10px;
	color:@blue!important;
	&:hover {
		text-decoration: none;
	}
}

.lvl_3_active {
	margin: 4px 0  8px 0 !important;
	padding: 4px;
	color: @main_active!important;
}

.lvl_3_active  a{
	border: none!important;
	color: @main_active!important;
}


.no_items {
	font-size: 16px;
	margin: 30px 0;
}

.form_error {
	font-size: 9pt!important;
	color: @accent!important;
}

.phone_with_8 {
	font-size: 9pt!important;
	color: @main_active!important;
}

.auth_error, .reg_error {
	text-align: center;
	color: @accent;
	margin: 20px 0;
}

.has-error p{
	color:@accent;
}

.has-error .form-control {
	border-color: @accent;
}

.histiry_order {
	margin-bottom: 60px;
	padding-bottom:8px;
	border-bottom: 1px solid @light_grey;
}

.font_accent {
	color: @accent;
}

.font_ok {
	color: @main_active;
}

.font_warning {
	color: @info;
}

 .order_info {
 	font-size: 10pt;
 	text-transform: uppercase;
 	margin: 15px -15px 10px -15px;
 }

 .align_right {
 	text-align: right;
 }

  .align_center {
 	text-align: center;
 }

  .align_left {
 	text-align: left;
 }

 .favorite_btns a {
 	display: block;
 	margin: 10px 0;
 }

.cant_repeat {
	text-transform: uppercase;
	padding: 4px 6px 4px 0px;
	margin: 10px 0;
	color: @light_grey;
}

.fast_reg {
	color: @btrp_link;
	cursor: pointer;
}

.think {
	display: inline;
	background: url('/images/loading.gif');
	padding: 1px 12px;
	border-bottom: none!important;
	margin-right: -20px;
	margin-left: 8px;
}

.bottom_auth {
	display:inline;
}

.bottom_auth .reg, .bottom_auth .login {
	color:white;
}

.no_order_sum {
	padding: 0 40px;
}

.no_ac_button {
	text-transform: uppercase;
	color: white;
	display: inline;
	text-decoration: none;
	border-bottom: 1px solid white;
		&:hover {
			color:white;
			border-bottom: none!important;
		}
}

.cart_body_info a {
	display: inline;
	text-decoration: none;
}

.cs_name {
	cursor: pointer;
	&:hover {
		color: @main_active!important;
	}
}

.all_lines, .all_sets {
	margin-top: 30px;
}

.line_link, .set_link {
	margin-bottom: 20px;
}

.review_hr {
	border-bottom: 2px solid @light_grey;
	margin-bottom: 8px;
}

.review_name {
	margin-bottom: 2px;
}

.review_date {
	margin-bottom: 2px;
}

.review_a {
	padding-left: 40px;
}

.review_block {
	margin-bottom: 35px;
}

.rewiew_textarea {
	width: 500px;
}

.review_form {
	margin: 10px 0 60px 0;
}

.review_desc {
	margin-bottom: 20px;
}

.review_comment {
	font-style: italic;
	color: @unactive_font;
	font-size: 11pt;
}

.master_class time {
	display: block;
	font-size: 11pt;
	text-transform: uppercase;
	color: @light_grey;
	margin-bottom: 5px;
}

.mc_fist_coll {
	width: 200px;
}

.mc_img_coll {
	margin-top: 22px;
}


.question_box {
	color: @unactive_font;
	position: relative;
	border: 1px solid @unactive_font;
	padding: 10px 15px 12px 15px;
}
.question_box:after, .question_box:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	position: absolute;
}

.question_box:after {
	border-bottom-color: white;
	border-width: 10px;
	margin-left: -30px;
}
.question_box:before {
	border-bottom-color: @unactive_font;
	border-width: 11px;
	margin-left: -31px;
}

.answer_box {
	background: @answer;
	color: @unactive_font;
	position: relative;
	border: 1px solid @unactive_font;
	padding: 10px 15px 12px 15px;
}
.answer_box:after, .answer_box:before {
	bottom: 100%;
	left: 77%;
	border: solid transparent;
	content: " ";
	position: absolute;
}

.answer_box:after {
	border-bottom-color: @answer;
	border-width: 10px;
	margin-left: -30px;
}
.answer_box:before {
	border-bottom-color: @unactive_font;
	border-width: 11px;
	margin-left: -31px;
}

.answer .col-xs-8 {
	margin-top: -30px;
}

.answer {
	margin-bottom: 20px;
}

.pages {
	margin: 35px 0 15px 0;
}

.rev_comment {
	margin-bottom: 30px;
}

.articles_block {
	display: none;
	margin: 5px 0;
}

.sg_1, .sg_2, .sg_3 {
	display: none;
}

.sg_active {
	display: block;
}

.st_active {
	border-bottom: none!important;
	color: @main_active;
}


.article_link {
	color: @unactive_font;
	margin: 0 0 6px 10px;
	&:hover {
		color: @main_active;
	}

}

.articles_part, .search_group {
	margin: 6px 0;
	font-size: 13pt;
	cursor: pointer;
}

.articles_part span {

	border-bottom: 1px solid;
	&:hover {
		color: @unactive_font;
		border-bottom: none;
	}
}

.search_group span {

	border-bottom: 1px solid;
	&:hover {
		color: @main_active;
		border-bottom: none;
	}
}

.search_result {
	margin: 25px 0px 10px 30px;
}

.articles_part b, .search_group b {
	color: @main_active;
}

.all_articles {
	margin-bottom: 30px;
}

.no_search_result {
	margin: 0 0 6px 10px;
}

.articles_block {
	margin-bottom: 20px;
}

.error_img {
	margin: 25px 0px 35px 0px;
}

.text_500 {
	width: 46%;
	padding-top: 5px;
	font-size: 14pt;
}

.cats_tm_sub {
	text-transform: uppercase;
	font-size: 14pt!important;
	&:hover {
		color: @main_font_color!important;
	}

}

.cats_in_tm {
	margin: -53px 0 40px 0;
}

.cats_in_tm ul {
	list-style: none;
	padding-left: 10px;
}

.cats_in_tm a {
	text-decoration: none;
	cursor: pointer;
	font-size: 12pt;
	color: @main_font_color;
	&:hover {
		color: @main_active;
	}
}

.cats_in_tm li {
	margin-bottom: 5px;
}

.active_tm_cat {
	font-size: 12pt!important;
	color: @main_active;
	margin: 0;
}

.fb_contacts {
	width: 300px;
}

.feedback {
	margin-bottom:  70px;
}

.feedback button {
	text-transform: uppercase;
	text-align: center;
	background: @main_active;
	color:white;
	width: 110px;
	padding:6px 8px;
	font-size: 10pt;
	text-transform: uppercase;
	cursor: pointer;
	margin: 10px 10px 0 0;
	border: none;
	&:hover {
		background: @mail_active-hover!important;
	}
}

.scroll_top {

	text-transform: uppercase;
    display: none;
    position: fixed;
    right: 3%;
    bottom: 20%;
    z-index: 20;
    padding: 8px ;
    border: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: @light_grey;
    opacity: 0.8;
    color: #fff;
    font-size: 11pt;
    cursor: pointer;

}

.art_prods {
	border: 1px solid #fff;
	padding: 15px 15px 0 15px;
}

.art_prods {
	&:hover {
		border: 1px solid @light_grey;
		box-shadow: 0 0 10px @light_grey;
		z-index: 1;
	}
}

.inlist.product-in-list {
	padding: 0;
	height: 465px;
	margin-bottom: 50px;

	.holder {
		padding: 30px 15px 0;
		position: relative;
		background-color: white;
	}

	.top-holder {
		height: 360px;
		overflow: hidden;
	}

	.pack {
		width: 70px;
	}

	.variants {
		padding-top: 10px;
	}

	.cart_info {
		margin: 12px 0;
	}

	p.waiting {
		background: transparent !important;
		font-size: 26px;
		color: @unactive_cart;
		width: 20px;
		margin-left: 22px;
		margin-top: -7px;

		&:hover {
			color: @info;
		}
	}

	.price {
		width: 80px;
	}

	.to_cart {
		width: 34px;
		height: 34px;
		text-indent: -60px;
		overflow: hidden;
		background-color: transparent;
        background-position: -226px 0;
		margin: -8px 0 15px 20px;

		&:hover {
			background-position: -226px -78px;
		}

		&.profi {
			margin-top: -3px;
			margin-left: 24px;
			padding: 0;
			background-position: -83px -126px;
			height: 24px;

			.for_proff {
				width: 28px;
				height: 25px;
				position: static;
				background-color: transparent;
			}

			&:hover {
				background-position: -114px -146px;
			}
		}
    }

	.fproff {
		font-size: 14px;
		text-transform: none;
		margin-bottom: 12px;
		white-space: nowrap;
	}

	.tag_boxes_small {
		padding: 20px 11px 0;
	}

	.pre_cart_title {
		width: 165px;
	}

	.pre_cart_icon {
		margin-left: 0;
	}

  &.inlist {
    .old_price {
		position: absolute;
		color: @light_grey;
		top: -16px;
		right: 2px;
    	font-size: 14px;
	}

	.variant {
		display: none;

		&:first-child {
			display: block;
		}

		&.available {
			.pack {
				position: relative;
				top: -4px;

				.pack-name {
					//white-space: nowrap;
					font-size: 14px;
				}
			}

			.stock-label {
				//position: absolute;
				position: static;
				padding: 0;
				top: 15px;
				font-size: 13px;
			}
		}
	}

    &:hover {
      .variant {
        display: block;
      }
    }
  }

	&:hover {
		.holder {
			height: auto;
			outline: 1px solid @light_grey;
			box-shadow: 0 0 10px @light_grey;
			z-index: 4;
		}

		.tag_boxes_small {
			a, span {
				z-index: 5;
			}
		}
	}
}

.typed-products {
	.product-in-list {
		.top-holder {
			height: 380px;

			strong {
				position: relative;
				top: 4px;
			}
		}
	}
}

.product-item {
    .pack {
        font-size: 11pt;
    }

    .price {
        white-space: nowrap;
    }

    .for_proff {
        width: 70px;
    }

    .rub {
		font-size: 17px;
	}
}

.prods_for_article {
	padding: 15px 5px 0px 25px;
}

.article_text {
	border-right: 1px solid @main_active;
}

.product-list {
	min-height: 450px;
}

.popover-content {
	font-size: 12px;
	width: 110px;
	padding: 6px 8px;
	text-align: center;
}

.pre_order_prod {
	float: right;
	margin: 10px 26px 0px 0px!important;
}

.one_pack {
	border: 1px solid white;
	padding: 5px 0px 10px 0px;
}

.active_pack {
	border: 1px solid @main_active;
}

.end_sell {
	color: @accent;
	font-size: 16pt;
	padding: 15px 10px;
	background:  @super_light_grey;
}

.prod_waiting {
	cursor: pointer;
	width: 160px;
	font-size: 13pt;
	text-align: center;
	text-transform: uppercase;
	background: @unactive_cart;
	color:white;
	text-decoration: none;
	padding: 6px 10px 5px 10px;
	margin: 2px 0 0 25px;
		&:hover {
	    background: @info;
	   }
}

p.waiting, .for_proff {
	cursor: pointer;
	width: 110px;
	text-align: center;
	text-transform: uppercase;
	background-color: @unactive_cart;
	color:white;
	padding: 4px 5px 2px 5px;
	margin-left: 38px;
	text-decoration: none;

	&:hover {
		background-color: @info;
   }
}

.for_proff {
	width: 190px;
	margin: 0;
	position: relative;
	left: 13px;
	float: right;

	&:hover, &:focus {
		color: white;
	}
}

.menu_d_line {
	border-bottom: 3px solid @main_active;
	margin-top: -7px;
}

.page_h1 {
	margin-top: 24px;
}

.article_cats {
	margin: 10px 0px 0px 10px;
}

.article_cat {
	text-align: left;
	padding: 3px 5px 3px 0px;
}

.prod_link_name {
	min-height: 42px;
	margin: 10px 0px 0px 0px;
}

.tm_country {
	font-style: italic;
	color: @unactive_font;
	margin: -8px 0px 10px 0px;
}

.pre_404, .pre_500 {
	margin-top: 35px;
}

.right_buttons {
	position: fixed;
	left: 10px;
	bottom: 50%;
	z-index: 3;
}

.left_chat {
	width: 42px;
	height: 42px;
	display: block;
	margin-top: 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
	box-shadow: 0 0 10px #b3b3b3;
	-moz-box-shadow: 0 0 10px #b3b3b3;
	-webkit-box-shadow: 0 0 10px #b3b3b3;

	&.whatsapp {
		background-color: @main_active;
	}

	&.sms {
		background-color: @cart;

		&:after {
			background-position: -203px -144px;
		}
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 6px;
		left: 6px;
		width: 30px;
		height: 30px;
		background-position: -236px -144px;
	}
}

.right_question {
	background-color: @bottom_menu;
	padding: 5px;
	border-radius: 8px;
	cursor: pointer;
	margin: 2px 10px 2px 0px;

	&:hover {
			background: #8f689f;
	}
	border: 1px solid @light_grey;
	box-shadow: 0 0 10px @light_grey;
}

.right_question_icon {
	display: block;
	padding: 15px;
	z-index: 20;
	background-position: -152px -1px;
	background-repeat: no-repeat;
}

.right_prof {

	padding: 6px;
	border-radius: 26px;
	cursor: pointer;
	margin: 0px 4px 10px -4px;
	border: 1px solid @light_grey;
	box-shadow: 0 0 10px @light_grey;
}

.right_prof span {
	display: block;
}

.all_choice {
	background-color: @prof_all;
	&:hover {
		background: @prof_all_hover;
	}
}

.prof_choice {
	background-color: @main_font_color;
	&:hover {
		background: @prof_hover;
	}
}

.right_prof_icon_all {
	padding: 19px;
	z-index: 20;
	background-position: -230px -186px;
	background-repeat: no-repeat;
}

.right_prof_icon {
	padding: 8px 2px;
	z-index: 20;
	color: #ffffff;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
}

.rp_icon_all_min {
	padding: 3px 12px;
    background-color: @prof_all;
	background-position: -204px -205px;
    border-radius: 11px;
    margin-left: 7px;
    cursor: pointer;
    &:hover {
		background-color: @prof_all_hover;

	}
}

.rp_icon_min {
	padding: 5px 2px;
    background-color: @main_font_color;
    font-size: 8pt;
    border-radius: 11px;
    margin-left: 7px;
    cursor: pointer;
    &:hover {
		background: @prof_hover;
	}
}

.all_choice + .tooltip > .tooltip-inner {
	background-color: @prof_all;
}

.all_choice + .tooltip > .tooltip-arrow { 
	border-right-color:@prof_all; 
}

.prof_choice + .tooltip > .tooltip-inner {
	background-color: @main_font_color;
}

.prof_choice + .tooltip > .tooltip-arrow { 
	border-right-color:@main_font_color; 
}

.prof_top_line {
	position: relative;
	width: 100%;
	height: 27px;
	text-align: center;
	font-size: 11pt;
	background-color: #0e75c2;
	color: white;
}

.prof_tl {
	background-color: @main_font_color;
}

.prof_tl_all {
	background-color: @prof_all;
}

.prof_top_line p {
	margin: 0px;
	padding-top: 3px;
}

.prof_close {
	font-size: 14pt;
	position: absolute;
	opacity: 1;
	top: 5px;
	right: 5px;
	z-index: 2;
	cursor: pointer;
	&:hover {
		opacity: 0.5;
	}
}

.recall_button {
	background-color: @main_active;
	padding: 5px;
	border-radius: 8px;
	cursor: pointer;
	&:hover {
			background: @mail_active-hover;
	}
	border: 1px solid @light_grey;
	box-shadow: 0 0 10px @light_grey;
	margin: 2px 10px 2px 0px;
}

.recall_icon {
	display: block;
	padding: 15px;
	z-index: 20;
	background-position: -150px -35px;
	background-repeat: no-repeat;
}

#gallery {
	margin-top: 15px;
}

#gallery a{
	text-decoration: none;
}

#gallery img{
	border:3px solid white;
}

.gallery_active img{
	border:3px solid @main_active !important;
}

.hot_icons {
	margin-bottom: 35px;

	.hot_icon {
		padding: 0 20px;
	}

	.icon-link {
		display: block;
		border-radius: 8px;
		text-decoration: none;
		background-color: @light_grey;
		border: 1px solid @light_grey;
		box-shadow: 0 0 10px @light_grey;
		padding: 7px;

		&:hover {
			background: @unactive_font;
		}
	}

	.popover {
		width: 360px;
		max-width: none;
		background-color: @unactive_font;

		.arrow {
			&:after {
				border-bottom-color: @unactive_font !important;
			}
		}

		a {
			color: @cart;
		}

		ul {
			padding-left: 15px;
		}
	}

	.edge {
		.popover {
			margin-left: -150px;

			.arrow {
				left: 330px;
			}
		}
	}
}

.popover-title {
	background-color: transparent;
	border: none;
}

.hot_sels {
	display: block;
	padding: 20px;
	background-position: -181px 3px;
	background-repeat: no-repeat;
}

.hot_delivery {
	display: block;
	padding: 20px;
	background-position: -149px -73px;
	background-repeat: no-repeat;
}

.hot_pay {
	display: block;
	padding: 20px;

	.rub {
		position: absolute;
		color: white;
		font-size: 50px;
		top: -2px;
		left: 33px;
	}
}

.shop_review_auth {
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 10px;
}

.ya_market {
	text-align: right;
	margin-top: 30px;
}

.order_notes {
	text-transform: lowercase;
	font-style: italic;
}

.carrier_info {
	margin-bottom: 10px;
	font-style: italic;
	font-size: 9pt;
}

.italic_font {
	font-style: italic;
	font-size: 9pt;
}

.cart_h2 {
	font-weight: bold;
	font-size: 13pt;
	margin: -5px 0 15px 0px;
}

.cart_items {
	padding: 0px 0px 0px 30px;
}

.cart_items_block {
	border-bottom: 1px solid @light_grey;
	margin-bottom: 24px;
}

.discount_sum, .full_sum {
	font-size: 13pt;
}

.cart_form {
	  padding: 0px 30px 0px 80px;
}

.promo_input {
	padding: 0px 0px 0px 15px;
}

.promo_input {
	padding: 0px 0px 0px 15px;
	p {
		margin-top: 5%;
		width: 127%;
	}
}

.cart_form_and_items {
	margin-top: 10px;
}

.promo_use {
	padding: 7px 0 0 15px;
}

.view_promo_form {
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		color: @main_active;
	    text-decoration: none;
	}
}

.promo_fg {
	font-size: 11pt;
}

.read_more {
	display: block;
	color: @light_grey;
	cursor: pointer;
	font-style: italic;
	&:hover {
		color: @unactive_font;
	}

	.btn-title {
		padding-right: 5px;
	}
}

.read_more_down {
	margin-top: 0px;
	color: @main_active;
	&:hover {
		& * {
			color: @mail_active-hover;
		}
	}
}

.read_more_desc {
	overflow: hidden;
}

#mobileVersionLink {
  color: #ffffff;
  text-decoration: underline;
  padding-right: 55px;
  font-size: 1.3em;
}

.pclear {
  clear: left;
}

.read_more_gradient {
	margin-bottom: 5px;
	margin-top: -43px;
	display: block;
	padding: 22px 10px;
	z-index: 19;
	position: relative;
	/* background: -webkit-linear-gradient(-90deg, rgb(255, 255, 255) 20%, rgb(255, 255, 25) 100%); */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.ng-init {
	opacity: 0.03;
}

.expanded .read_more_gradient {
	display: none;
}

.tm_block {
	margin-top: 15px;
}

#viewed-products {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 42px;
	text-align: left;
	background-color: #fafafa;
	overflow: hidden;
	height: 335px;
	border-top: 1px solid #efefef;

	transition: 0.2s ease-out height;
	-o-transition: 0.2s ease-out height;
	-moz-transition: 0.2s ease-out height;
	-webkit-transition: 0.2s ease-out height;

	.controls {
		float: right;
		padding: 15px;
		position: relative;
		z-index: 1;
		height: 320px;

		a {
			color: @main_font_color;
			font-size: 15px;

			&.close {
				opacity: 1;
				text-decoration: none;
				border-bottom: 1px dashed @main_font_color;
				position: relative;
				margin-right: 20px;

				&:hover {
					border: none;
				}

				span {
					position: absolute;
					right: -20px;
				}
			}

			&.clear {
				position: absolute;
				bottom: 0;
			}
		}

		.arrow {
			position: absolute;
			top: 140px;
			font-size: 40px;
			cursor: pointer;
			color: @main_font_color;
			display: none;

			&:hover {
				color: @unactive_font;
			}

			&.next {
				left: 60px;
			}

			&.inactive {
				color: @super_light_grey;
				cursor: default;
			}
		}
	}

	.products-box {
		height: 334px;
		padding: 0 110px 0 0;
		overflow: hidden;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 100px;
			width: 40px;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fafafa+50&amp;0+0,1+50 */
			background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(250,250,250,1) 50%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(250,250,250,1) 50%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(250,250,250,1) 50%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(250,250,250,1) 50%); /* IE10+ */
			background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(250,250,250,1) 50%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fafafa',GradientType=1 ); /* IE6-9 */
		}

		.products {
			width: 4800px;
			position: relative;

			.product {
				float: left;
				width: 210px;
				height: 305px;
				min-height: 210px;
				padding: 0 10px;
				margin: 15px 10px 0;
				background-color: white;
				border: 1px solid #efefef;
				text-align: center;

				a {
					color: @main_font_color;
					text-decoration: none;

					&:hover {
						color: @mail_active-hover;
					}
				}

				p {
					margin-top: 10px;
					height: 75px;
					overflow: hidden;
					font-family: Arial;

					.eng_name {
						font-size: 14px;
					}
				}

				div {
					color: @main_font_color !important;
					font-size: 15px;
				}

				&:hover {
					box-shadow: 0 3px 13px 0 rgba(230, 230, 230, 0.68);
					-o-box-shadow: 0 3px 13px 0 rgba(230, 230, 230, 0.68);
					-moz-box-shadow: 0 3px 13px 0 rgba(230, 230, 230, 0.68);
					-webkit-box-shadow: 0 3px 13px 0 rgba(230, 230, 230, 0.68);
				}
			}
		}
	}

	&.dnone {
		height: 0;
		border: none;
	}
}

#toggle-viewed {
	color: white;
}

.subscribe {
	background: url('/images/subscribe.png') repeat-y 0 0 #f4f4f4;

	.sub_backgroung {
		background: transparent;
	}
}

.nowrap {
	white-space: nowrap;
}

#recommended-products {
	overflow: hidden;
	width: 1010px;

	.recommended-holder {
		width: 2100px;
		position: relative;
	}

	.product-in-list {
		height: auto;
		width: 250px;

		.variant {
			display: block;
		}

		&:hover {
			.holder {
				z-index: 0;
				outline: none;
				box-shadow: none;
				-webkit-box-shadow: none;
			}
		}
	}
}

@media (max-width: 1000px) {
	#recommended-products {
		width: 1000px;
	}
}

#social-walls {
	margin: 0 -15px 0;
	padding-top: 20px;
	border-top: 1px solid #e5e5e5;

	.row {
		margin: 0;

		.col {
			padding: 0;
		}

		.col-xs-4 {
			padding-top: 20px;

			&.ok {
				text-align: center;
			}

			&.fb {
				text-align: right;
			}
		}
	}
}

.prod-reviews-aggr {
	.review-box {
		margin-bottom: 30px;

		.product-name {
			display: block;
			margin-bottom: 10px;
		}

		img {
			margin-left: 100px;
		}

		.comment {
			font-style: italic;
			color: @unactive_font;
		}
	}
}

#top-cart {
	display: inline-block;
	width: 50px;
	height: 25px;
}

.menu-fixed-top {
	min-width: 1030px;
}

@media (max-width: 1030px) {
	.menu-fixed-top-container {
		.menu-container {
			width: 1030px;
			margin: 0 auto;
		}
	}

	.menu-fixed-top {
		.container {
			width: 1030px;
		}

		.menu {
			width: 1000px;
		}
	}
}

#prepay-only {
	margin-top: 15px;
	color: @unactive_font;
	white-space: nowrap;
}

#found-cheaper {
	margin-top: 55px;
	position: relative;
	padding: 15px 10px;
	border: 1px solid @super_light_grey;

	.lbl {
		position: absolute;
		top: 25px;
		width: 30px;
		height: 30px;
		background-position: -84px -151px;
		left: -35px;
		border: none;
	}

	a {
		text-decoration: none;
		color: black;

		div {
			margin-left: 50px;
			border-bottom: 1px dotted black;
			margin-bottom: 5px;
			display: inline-block;
		}

		&:hover {
			div {
				border-color: transparent;
			}
		}
	}
}

#real-look {
	font-size: 11px;
	color: @light_grey;
	padding-top: 3px;
	white-space: nowrap;
	margin-left: -24px;
}

.modal-popup {
	display: none;
	font-family: dinpro_bold, Arial, sans-serif;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1030;

	.close {
		font-family: dinpro_light, Arial, sans-serif;
		position: absolute;
		top: 0;
		right: 0;
		background-color: white;
		color: @main_active;
		font-size: 50px;
		opacity: 1;
		width: 50px;
		height: 50px;
		text-align: center;

		&:hover {
			color: @bottom_menu;
		}
	}

	.bg {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: black;
		opacity: 0.85;
		z-index: 1031;
	}

	.box {
		position: relative;
		margin: 170px auto;
		padding: 20px;
		width: 500px;
		top: 0;
		z-index: 1032;
		background-color: white;
	}

	p {
		font-family: dinpro_medium, Arial, sans-serif;
		text-align: center;
		margin: 0 0 3px;
		font-size: 15px;
		color: @unactive_font;
	}

	.ph3, h3 {
		color: #555555!important;
		text-align: center;
		font-size: 24px!important;
		margin: 35px 0!important;

		span {
			color: @day_item;
		}
	}
}

#found-lower-modal .logo-bg {
	background: url(/images/logo_light_2018.png) 0 0 no-repeat transparent;
}

#cart-present-popup .box{
	background: url(/images/logo_light_popup_2018.png) 0 0 no-repeat transparent;
};

#cart-present-popup {
	.box {
		background-position: 40px 35px;
		background-color: white;
	}

	h3 {
		margin-bottom: 230px;
	}

	.img {
		position: absolute;
		width: 415px;
		height: 228px;
		right: 0;
		top: 90px;
		z-index: -10;
		background: url(/images/src/cart-present-popup-bg.png) 0 0 no-repeat transparent;
	}

	.holder {
		padding: 20px;
		border: 3px solid @main_active;
	}

	.proceed {
		background-color: @bottom_menu;
		margin-left: 22px;

		&:hover {
			background-color: @main_active;
		}
	}

	.continue {
		background-color: @main_active;

		&:hover {
			background-color: @bottom_menu;
		}
	}

	.lnk {
		color: white;
		padding: 15px 25px;
		font-size: 14px;
		display: inline-block;
		margin-top: 20px;
		text-decoration: none;
	}
}

#all-tm {
	.brand {
		position: relative;
		padding: 15px 0 5px;
		transition: background-color 0.2s ease;
		-webkit-transition: background-color 0.2s ease;
		-moz-transition: background-color 0.2s ease;

		&:hover {
			background-color: @sub_backgroung;
		}

		.letter {
			position: absolute;
			color: @bottom_menu;
			font-size: 21px;
			left: 25px;
			top: 10px;
		}

		ul {
			padding-left: 60px;
			list-style: none;

			a {
				color: @main_font_color;
				text-decoration: none;
				font-size: 15px;
				display: inline-block;
				padding-bottom: 5px;

				&:hover {
					color: @main_active;
				}
			}
		}
	}

	.rus-flag {
		width: 30px;
		height: 30px;
		background-position: -149px -150px;
		left: 15px;
		top: 10px;
		position: absolute;
	}
}

#one-click-buy {
	display: block;
	margin: 30px 0 0 27px;
    width: 230px;
	background-color: @bottom_menu;

	&:hover {
		background-color: @mail_active-hover;
	}
}

#one-click-buy-popup {
	.box {
		width: 630px;
	}

	.arrow {
		font-family: Arial, sans-serif;
		color: @light_grey;
		text-decoration: none;
		position: absolute;
		font-size: 60px;
		top: 130px;
		left: 20px;

		&.next {
			left: 580px;
		}

		&.inactive {
			color: @super_light_grey;
			cursor: default;
		}
	}

	.prs {
		margin: 0 auto 35px;
		position: relative;
		width: 490px;
		height: 150px;
		overflow: hidden;
	}

	.prs-holder {
		width: 2100px;
		position: relative;
	}

	.pr {
		display: block;
		float: left;
		width: 120px;
		height: 150px;
		overflow: hidden;
		margin: 0 5px;
		position: relative;

		a {
			color: @light_grey;
			font-size: 12px;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 110px;
			height: 30px;
			bottom: 0;

			background: -moz-linear-gradient(bottom,  rgba(255,255,255,0.65) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(bottom,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to top,  rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
		}
	}

	p {
		margin-top: 20px;
		text-align: left;
		font-size: 12px;
	}
}

.personalized {
	h3 {
		text-transform: uppercase;
		margin-bottom: 0;
	}
}

.product-h {
		h3 {
			text-transform: uppercase;
			font-size: 13pt;
			display: inline-block;
			border-bottom: 2px solid @info;
			padding: 0 0 2px 0;
			font-family: dinpro_regular, Arial, sans-serif;
			width: auto;
			float: none;
			margin-bottom: 5px;
		}
}

.sale-s {
	width: 35px;
	height: 132px;
	position: fixed;
	top: 45%;
	right: 0;
	z-index: 2;
	display: none;
}

#sale-g {
	background-image: url(/images/src/sales/ear_green.png);

	&:hover {
		background-image: url(/images/src/sales/ear_green_hover.png);
	}
}

#sale-r {
	background-image: url(/images/src/sales/ear_red.png);

	&:hover {
		background-image: url(/images/src/sales/ear_red_hover.png);
	}
}

.top-b {
	width: 100%;
	height: 80px;
	position: relative;

	a {
		background: center 0 no-repeat;
		display: block;
		height: 100%;
		position: relative;
	}

	.close {
		position: absolute;
		width: 30px;
		height: 30px;
		opacity: 1;
		top: 5px;
		right: 5px;
		z-index: 2;
	}
}

#top-e {
	a {
		background-image: url(/images/src/sales/1920_f1_sale_banner_summer.png);
		z-index: 1;
	}

	.w50 {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		z-index: 0;
	}

	.g {
		background-color: #f5b800;
	}

	.e {
		left: 50%;
		background-color: #ffba00;
	}

	.close {
		background-image: url(/images/src/sales/esc_f1_ico_hover.png);

		&:hover {
			background-image: url(/images/src/sales/esc_f1_ico.png);
		}
	}
}

.mc-order-ok {
	margin-top: 30px;
}

#mc-order-ok {
	margin-top: 15px;

	.mc-item {
		a {
			color: @main_font_color;
			font-size: 15px;
		}

		p {
			color: @unactive_font;
			margin-bottom: 10px;
			font-style: italic;
		}

		.dt {
			color: @main_active;
			margin: 5px 0;
			font-size: 18px;
		}

		.text-с {
			text-align: center;
		}
	}

	.col-xs-3 {
		img {
			max-width: 230px;
		}
	}
}

.rub_h {
	position: absolute;
	overflow: hidden;
	text-indent: -999999px;
}

.cat-tags {
	margin-top: 0 !important;
	padding-bottom: 20px;

	h3 {
		padding-top: 0;
	}
}

#popup-discount-bar {
	a {
		display: block;
		position: relative;
		width: 100%;
		height: 30px;
		text-align: center;
		padding-top: 3px;
		font-size: 18px;
		background-color: @accent;
		color: white;
		text-decoration: none;
	}
}

.mc-item
{
	.desc{height:130px;}
	.desc_ok {height:140px;}
}
.button-common {

	&.master-class__submits{
	margin-top:0px;}
}

.personal_discount {
	padding-top: 2px;
 	font-size:20pt;
	text-align: center;
	font-family:Arial,sans-serif;
	color: @main_active;
}

.none {
	display: none;
}

#kosmetika {
	.kosmetika-item {
		.box {
			padding: 10px;
			margin: 5px 0;
			border: 1px solid @sub_backgroung;

			img {
				float: right;
			}
		}
	}
}

#country {
	.country-item {
		.box {
			padding: 20px;
			margin: 5px 0;
			border: 1px solid @sub_backgroung;

			img {
				float: right;
			}
		}
	}
}

.order-ok-pay {
	p {
		font-size: 120%;
	}

	.btn {
		text-decoration: none;
		color: white;
		margin-top: 0;
		font-size: 19px;
	}
}

.best_hurry {
	margin: 11px 0 0 -20px;
	text-transform: uppercase;
    line-height: 1.3;
    width: 95px;
}

.best_hurry_notice {
	text-align: center;
	margin: 7px 12px;
	font-size: 12pt;
	width: 100px;
}

.best_hurry_notice a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
	line-height: 1;
}

.hurry_notice_info {
	font-size: 11px;
	color: @light_grey;
	font-style: italic;
	margin-top: 3px;	
}

.oferta_link {
	color: @main_font_color;
	cursor: pointer;
	font-size: 11px;
	text-decoration: underline;
	&:hover{
	    color: @main_active;
	    text-decoration: none;
		}
}

.p-l-0{
	padding-left: 0;
}

.competition {
	margin-top: 14px;
	margin-bottom: 12px;
	.hurry_notice_info{
		margin-bottom: 25px;
	}
	.winner {
		margin-bottom: 25px;
		margin-top: 25px;
	}
}

.competition img {
	position: absolute;
	width: 1000px;
	left:0px;
	cursor: pointer;
}

.reg_comp {
	text-transform: uppercase;
	text-align: center;
	background: @main_active;
	color:white;
	width: 215px;
	padding:2px 4px;
	font-size: 18px;
	margin: 30px 0 20px 30px;
	cursor: pointer;
	&:hover {
		background:@mail_active-hover;
	}
}
.comp-day{
	margin-top: 25px;
	color: #f05122;
	text-align: center;
	.comp-font-1{
		font-size: 1.5em;
	}
	.comp-font-2{
		font-size: 18em;
		line-height: 1em;
	}
	.comp-font-3{
		font-size: 7em;
		line-height: 0.7em;
	}
}

.pre_order_btn{
	p{
		margin: 0;
	}
	:nth-child(2){
		font-size: 13px;
	}
}

.pre_order_center{
	text-align: center;
}
.pre_order_font{
	font-size: 12pt;
}

#brands-list .letters .letter:hover .brands.rk_scroll{
	max-height: 70vh;
	overflow-y: scroll;
}

.cart_promo_end {
	font-size: 9pt;
	color: red;
}

.delivery_page_notes {
	font-style: italic;
	margin: 20px 0;
	color: @unactive_font;
	font-size: 9pt;
}

#deliv_mes_courier, #deliv_mes_cdek {
	margin: 15px 0px 10px 0px;
}

#tab1 {
	max-height: 380px;
}

#first_map {
	padding: 0px 40px 0px 20px;
	height:550px;
}

.page_sitemap {
	margin: 5px 0px 30px 0px;
	.col-xs-12 div {
		margin: 5px 0px;
	}
}

.sitemap_lvl_1 {
	color: @main_font_color;
	font-size: 12pt;
	&:hover{
	    color: @main_active;
	}
}

.sitemap_lvl_2 {
	color: @unactive_font;
	margin: 0 0 15px 25px;
	font-size: 10pt;
	&:hover {
		color: @main_active;
	}
}

.sitemap_lvl_3 {
	color: @unactive_font;
	margin: 0 0 25px 45px;
	font-size: 8pt;
	&:hover {
		color: @main_active;
	}
}

@import '2016/common.less';
