/* Тут стили */
.modal__frame {
  width: 480px;
  margin-top: 70px;

  .error {
      color: @accent;
  }
}

/**
 * Стили для маленького окна сообщений.
 */
.modal__frame-sm {
  width: 350px;
  margin-top: 70px;

  .modal__body {
    padding: 18px 24px 0 24px;
  }

  .modal__footer {
    text-align: center;
  }
}

.modal__content {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.25);
}

.modal__header {
  padding: 10px 15px 6px 15px;
  border: 0;
  background: #ffcb65;
  color: #fff;
  text-align: center;
}
.modal__title {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 13pt;
  font-family: dinpro, Arial, sans-serif;
  line-height: 1.35;
}
.modal__close {
  color: #fff;
  opacity: 0.7;
}
.modal__close:hover {
  color: #fff;
  opacity: 1;
}
.modal__body {
  padding: 18px 51px 0 51px;
}
.modal__footer {
  margin: 0;
  padding: 0 51px 0 51px;
  border: 0;
}
/* Стили для формы */
.modal__row {
  margin: 0;
  padding: 10px 0;

  .help-block {
    margin-bottom: 0;
  }
}
.modal__label {
  font-weight: normal;
  padding-right: 0;
}
.modal__notes {
  font-size: 0.9em;
}

/* Урали тут подложку серую при открытие модального окна*/
.modal-backdrop.in {
  opacity: 0;
}

.fast_p_name {
   font-family: dinpro_regular, sans-serif;
   font-size: 12pt;
   padding: 10px 15px 0px 15px;
}

.fast_p_img {
  padding: 0px;
}

body.modal-open {
    overflow: auto;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
