.logo {

	&.scrolled::before {
		position: fixed;
	}

	&.scrolled .ny_pig {
		right: 165px;
		top: 46px;
	}
}

.logo::before {
		content: '';
		position:absolute;
		background-image:url(/images/new_year.png);
		transform: scale(-1, 1);
		background-repeat: no-repeat; 
		background-size: contain;
		top: 12px;
		z-index: 100;
		width: 34px;
		height: 34px;
} 

.ny_pig {
	position:absolute;
	background-image:url(/images/ny_pig.png);
	background-repeat: no-repeat; 
	background-size: contain;
	top: 34px;
	z-index: 100;
	width: 17px;
	height: 17px;
	right: 41px;
}

.ny_pig_hello{
	background-image: url(/images/pig-hello.png);
    background-repeat: no-repeat;
    padding: 143px 125px;
    position: relative;
    left: 43%;
    cursor: pointer;
    display: none;
}

body {
	background-image: url(/images/deers-mono.png);
	background-repeat: space;
}

#container {
	background-color: #ffffff;
}