.pagination {
    margin: 0 0 10px;

    .ph6 {
        font-size: 1.1em;
        padding-left: 3px;
        margin: 0 0 3px;
    }

    a {
        padding: 0 3px;
    }

    .current {
        padding: 0 3px;
    }

    .current {
        color: @main_active;
    }
}

.on-page {
    padding-top: 19px;
    font-size: 1.1em;
    float: right;

    span {
        color: @main_active;
    }

    span, a {
        padding-left: 7px;
    }

    .lbl {
        padding-right: 5px;
        color: @main_font_color;
    }
}
