@referral-main-color: #555555;
@referral-light-color: #999999;

#referral {
    .main-content {
        position: relative;
    }

    .login-form {
        position: absolute;
        width: 300px;
        height: 150px;
        left: 330px;
        z-index: 2;

        .switch {
            padding-left: 35px;

            a {
                text-transform: uppercase;
                color: @bottom_menu;
                padding: 10px;
                border-bottom: 4px solid transparent;
                text-decoration: none;
                font-weight: bold;
                font-size: 18px;

                &.active {
                    background-color: transparent;
                    color: @referral-main-color;
                    border-color: @main_active;
                }
            }
        }

        .text-input {
            display: block;
            padding: 17px 20px;
            width: 300px;
            color: @referral-main-color;
            border: none;
            background-color: white;
            font-size: 13px;
            margin: 20px 0;
            border: 1px solid #dadada\9;
        }

        .backup_psw {
            color: @bottom_menu;
            font-size: 15px;
            text-decoration: none;
            margin-left: 93px;
            padding: 0;

            &:hover {
                text-decoration: underline;
            }
        }

        .auth {
            width: auto;
            height: auto;
        }

        .login-button {
            display: block;
            border: none;
            color: white;
            font-size: 15px;
            background-color: @main_active;
            padding: 10px 25px;
            margin: 0 auto 20px;
            width: auto;
            height: auto;
            text-transform: uppercase;

            &:hover {
                background-color: @mail_active-hover;
            }
        }
    }

    .bg {
        position: absolute;
        left: 0;
        right: -30px;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-color: white\9;
    }

    &.not-registered {
        .steps,
        .links {
            -webkit-filter: url(#blur);
            filter: url(#blur);
            -webkit-filter: blur(7px);
            filter: blur(7px);
            filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='7');
            -webkit-transition: 1s -webkit-filter linear;
            transition: 1s filter linear;
        }
    }

    h3 {
        color: @referral-main-color;
    }

    p {
        color: @referral-light-color;
    }

    .banner-box {
        padding-top: 420px;
        margin-bottom: 20px;

        .banner-image {
            background: url(/images/src/referral/banner.jpg) center 0 no-repeat #1ebcd1;
            position: absolute;
            left: 0;
            height: 380px;
            width: 100%;
            margin-top: -400px;
        }
    }

    .steps {
        .col-xs-3 {
            padding: 0;
            text-align: center;
        }

        .img {
            background: url(/images/src/referral/steps.jpg) 0 0 no-repeat transparent;
            width: 120px;
            height: 120px;
            margin: 0 auto 10px;
        }

        .c2 .img {
            background-position: -120px 0;
        }

        .c3 .img {
            background-position: -240px 0;
        }

        .c4 .img {
            background-position: -360px 0;
        }

        h3 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 15px;
        }

        p {
            font-size: 14px;
        }
    }

    .links {
        .box {
            margin: 0 auto;
            padding-top: 10px;
            width: 500px;
        }

        h3 {
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
        }

        .social-buttons {
            position: relative;
            height: 56px;
            width: 426px;

            * {
                padding: 0 !important;
                margin: 0 !important;
            }

            a {
                float: left;
                margin-right: 18px !important;

                &.b-share-btn__facebook {
                    background-position: -56px 0;
                }

                &.b-share-btn__twitter {
                    background-position: -112px 0;
                }

                &.b-share-btn__odnoklassniki {
                    background-position: -168px 0;
                }

                &.b-share-btn__gplus {
                    background-position: -224px 0;
                }

                &.b-share-btn__linkedin {
                    background-position: -280px 0;
                    margin-right: 0 !important;
                }

                .b-share-icon {
                    display: none !important;
                }
            }
        }

        .copy-link {
            position: relative;
            margin-top: 30px;
            height: 35px;
        }
    }

    .social-buttons a,
    .mail-share {
        display: block;
        width: 56px;
        height: 56px;
        background: url(/images/src/referral/socials.png) 0 0 no-repeat transparent;

        &:hover {
            background-image: url(/images/src/referral/socials-hover.png);
        }
    }

    .mail-share {
        float: right;
        background-position: -336px 0;
    }

    &.small {
        h2 {
            text-align: center;
            font-size: 25px;
            margin-top: 0;
        }

        p {
            text-align: center;
            margin: 20px 0 10px;
        }
    }
}

#referral-code,
#copy-code {
    display: block;
    position: absolute;
    padding: 7px 20px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

#referral-code {
    background-color: #ecdeed;
    color: black;
    width: 100%;
}

#copy-code {
    background-color: @bottom_menu;
    color: white;
    right: 0;
    text-transform: uppercase;

    &:hover {
        background-color: #9e77a4;
    }
}

#referral-invited {
    .hide-image {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 0;
    }

    .banner-box {
        padding: 30px 0 50px;

        p {
            color: @referral-main-color;
            text-transform: uppercase;
            font-size: 20px;
            padding-bottom: 40px;
            text-shadow: 1px 0 5px white;
        }

        h1, p, .go-link {
            position: relative;
            z-index: 2;
        }
    }

    h1 {
        color: @bottom_menu;
        font-size: 55px;
        font-weight: bold;
        font-family: Arial;
        padding-bottom: 20px;
    }

    .bg-image {
        position: absolute;
        right: 0;
        background: url(/images/src/referral/hand-gift.jpg) 0 0 no-repeat transparent;
        width: 620px;
        height: 340px;
        margin-top: -20px;
        z-index: 1;
    }

    .go-link {
        background-color: @bottom_menu;
        padding: 20px 50px;
        text-transform: uppercase;
        font-size: 20px;
        text-decoration: none;
        border-radius: 30px;
        color: white;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;

        &:hover {
            opacity: 0.8;
        }
    }
}
