.sort {
  text-transform: uppercase;
  font-size: 10pt!important;
}

.sort__menu {
  margin: 0!important;
  padding: 0!important;
  border-radius: 0px!important;
  width: 100%;
}
.sort__menu-item {
  cursor: pointer!important;

}
.sort__menu-item a{
  padding: 6px 10px!important;
  text-decoration: none!important;
  font-size: 10pt!important;
}

.sort__lable {
  padding: 6px 10px 0 0;
}

.sort__toggle {
  display: block!important;
  padding: 6px 10px;
  background-color: @main_active;
  color: #fff!important;
  text-decoration: none!important;
  cursor: pointer!important;
}
.sort__arrow {
  display: inline;
  float: right;
  margin: 2px -5px 0 0;
  padding: 6px 10px;
  background-position: -15px -1px;/* Image definition in common.less*/
  background-repeat: no-repeat;
}
.open .sort__arrow{
  background-position: -33px -1px;/* Image definition in common.less*/
}
