.special {
  margin-top: 35px;
}
.special-menu {

  border-bottom: 1px solid @info;
}
.special-menu__item {
  display: table-cell!important;
  float: none!important;
  padding: 6px 15px 5px 15px;
}
.special-menu__item-text {
  display: inline;
  padding: 0!important;
  border: none!important;
  background: none!important;
  color: #000;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 13pt;
  font-family: dinpro_regular, sans-serif;
  cursor: pointer;
  &:hover {
    color: #000;
  }
}
.active_spec_menu {
  background: @info;
  color: #fff!important;
  cursor: default!important;
  a {
    color: #fff!important;
    text-decoration: none;
  }
}
