#static-page {
  .tab-pane {
    height: 525px;
    background: #fff;
    color: #000000;
    border-top: 0 solid #8dc655;
    padding-top: 20px;

    &.active {
      background: white;
      color: black;
    }
  }

  .nav-tabs {
    padding: 0 0 0 25px;

    a:hover {
      color: #8dc655;
    }

    > li {
      &.active {
        > a,
        > li {
          color: #8dc655 !important;
          border-bottom: 2px solid #8dc655 !important;
          border-top: 1px solid #8dc655 !important;
          border-right: 3px solid #8dc655 !important;
          border-left: 3px solid #8dc655 !important;
        }
      }
    }
  }

  .panel-heading {
    h2 {
      font-size: 30px;
      margin-top: 10px;
    }
  }

  .panel-body {
    padding-left: 20px !important;

    h3 {
      font-size: 24px;
    }
  }

  .tabstyle {
    li {
      background-color: white !important;
    }

    a {
      color: black;
      padding: 10px 15px !important;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .beznal_page {
    padding: 0 0 15px;
  }

  .nal_page {
    padding: 0 0 15px 0;
  }

  .webmoney_page {
    padding-left: 15px;
  }

  .paymentimg_page div {
    display: inline-block;
  }

  .contacts_page div {
    display: inline-block;
    height: 100px;
    width: 235px;
    padding: 15px 0;
  }

  .contacts_page {
    padding: 0;
  }

  .red_page {
    color: red;
  }

  .sales_page {
    width: 500px !important;
    border: 2px solid #e0dcdc !important;
  }

  .salesred_page {
    color: red;
  }

  .pright {
    float: right;
    width: 800px;
  }

  .pickpoint {
    height: 75px;
    width: 125px;
    float: left;
    background: url(/images/src/pickpoint_info.jpg) 0 0 no-repeat transparent;
  }

  .pickpoint1 {
    background-position: 0 -154px;
    height: 69px;
  }

  .pickpoint2 {
    background-position: 0 -227px;
  }

  .pickpoint3 {
    background-position: 0 -73px;
  }

  .pickpoint4 {
    background-position: 0 -313px;
  }

  .pickpoint5 {
    background-position: 0 -389px;
  }

  .pickpoint6 {
    height: 70px;
  }

  .pickpoint7 {
    background-position: 0 -73px;
  }

  .obertka {
    height: 80px;
    width: 100%;
  }
}

#sales-page {
  .sales_left p {
    padding-left: 120px;
    font-family: arial, sans-serif;
    font-size: 12px;
  }

  .sales_right p {
    padding-left: 120px;
    font-family: arial, sans-serif;
    font-size: 12px;
    margin-bottom: -7px;
  }

  .sales_text {
    color: #d3d3d3;
    font-family: arial, sans-serif;
    font-style: italic;
    font-size: 12px;
  }

  .sales_flex h2 {
    margin-bottom: 30px;
  }

  .sales_flex p {
    padding-left: 20px;
    border-left: 3px solid #ff6666;
    font-family: arial, sans-serif;
    font-style: italic;
    font-size: 12px;
  }

  .sales_left {
    float: left;
    width: 470px;
  }

  .sales_right {
    margin-left: 20px;
    float: right;
    width: 470px;
  }

  .sales_flex {
    float: left;
    width: 800px;
  }

  #container {
    width: 1000px;
    padding: 0 0;
  }

  .leftimg {
    float: left;
    margin: 7px 7px 7px 0;
  }

  .one {
    height: 135px;
  }

  .ok {
    display: inline-block;
    background-position: -180px -144px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: 3px 10px 0 0;
  }
}
