.tm-menu-container {
  margin-top: 10px;

  .sub_tm_menu {
    width: 1000px;
  }
}
.tm-menu-container.cat-tm {
  margin-top: 10px;

  .sub_tm_menu {
    margin-left: -15px;
  }

  .tm-menu__item {
    float: none !important;
  }
}

.tm-menu__item {
  padding: 0 5px;
  text-transform : uppercase;
  white-space: nowrap;
  font-family: dinpro_regular, sans-serif;
  float: none !important;
  display: table-cell !important;
  width: 1%;
  &:first-child {
    padding-left: 0!important;
    text-align: left!important;
  }
  &:last-child {
    padding-right: 0!important;
    text-align: right;
  }
}
.tm-menu__item-link {
  display: inline!important;
  padding: 0!important;
  color: @main_font_color;
  text-decoration: underline;
  font-size: 9pt;
  &:hover{
    background: #fff!important;
    color: @main_active;
    text-decoration: none;
  }
}
.tm-menu_all {
  font-size: 9pt;
  cursor: pointer; 
  div {
    background-color: @main_active;
    padding: 2px 5px 2px 10px;
    display: inline;
    color: white;
    text-decoration: none;

    &.lvl_3_group_title {
      background-color: transparent;
      padding-left: 0;
    }
  }
}

.sub_tm_menu {
  .add-shadow();
  position: absolute;
  z-index: 20;
  display: none;
  padding: 12px 20px;
  width: 940px;
  border: 1px solid  @main_active;
  background: white;
  text-align: left;
  a {
    display: block;
    float: left;
    color: #000;
    margin: 4px 12px 4px 0;
    &:hover {
      color: @main_active;
    }
  }
}
.tm_pointer_active {
  background-position: -32px -1px!important;
}

.bottom-tms {
  .all-tms {
    margin-bottom: 20px;

    .tm-menu_all {
      background-color: transparent;

      div {
        color: black;
      }
    }
  }
}