/**
 * Высота полоски меню.
 */
@head_fix_height: 88px;
@menuHeight: 26px;

/**
 * Стили для полоски меню.
 */
.menu-static {
   height: @head_fix_height;
}


.menu-container {
    height: @head_fix_height;
}
.menu-fixed-top {
  .add-shadow();
  display: none;
  background: white!important;
  padding: 0px;
}

/**
 * Контейнер (<ul>) для верхнего меню.
 */
.menu {
  padding-left: 0!important;
  height:@menuHeight;
  border-bottom: 1px solid @main_active;
  text-align: justify;

  /* Обнуляем для родителя*/
  font-size: 1px; /* 1px для Opera */
  line-height: 0;

  /* Лекарство для IE6-7*/
  text-justify: newspaper;
  zoom:1;

  /* Последний элемент в строке меню - для того чтобы в предыдущей стркое работал justified */
  &:after {
    display: inline-block;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0px;
    content: '';
    white-space: normal!important;
  }
}

/**
 * Контейнер (<li>) для пунктов меню.
 */
.menu__item {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  text-align: left;

  /* Востанавливаем у потомков, кроме последнего*/
  line-height: normal;
  font-size: 14px;

  /* Без него в Opera будет отступ под элементами */
  vertical-align: top;

  /* эмуляция inline-block для IE6-7*/
  //display : inline;
  //zoom : 1;
  &:first-child {
    padding-left: 0!important;
  }
  &:last-child {
    padding-right: 0!important;
  }
}

/**
 * Пункт (<a>) меню.
 */
.menu__item-link {
  line-height:@menuHeight;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: dinpro_medium, sans-serif;
  &:hover,
  &:focus,
  &.current {
    border-bottom: 4px solid @main_active;
    color: #000;
  }  
}

.organic {
  color: #336b05!important;
}

.organic_leaf {
  margin-right: 2px;
  font-size: 12pt;
}

.menu__item .organic {
    &:hover {
        color: #336b05;
    }
}


.menu_active_group {
  border-bottom: 4px solid @main_active;
  // background: @unactive_cart;
  // padding: 2px 2px 0px 2px;
}

/**
 * Стили для подменюшек.
 */
.sub_menu {
  .add-shadow();
  position: absolute;
  z-index: 20;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 1000px;
  margin-top: -1px;
  padding: 20px 0;
  border: 1px solid  @main_active;
  background: white;
  text-align: left;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    padding-bottom: 10px;
    line-height: 1.1em;
  }

  a {
    color: @main_font_color;
    text-decoration: none;

    &:hover {
      color: @main_active;
      text-decoration: underline;
    }
  }
}

.sub_menu , x:-moz-any-link{
  margin-top: 0px;
}

.submenu__col {
  padding: 0 24px 0 24px;
  display: table-cell;
  min-width: 250px;
  width: 250px;
  border-left: 1px solid @menu_line;
  &:first-child {
    border-left: none;
  }
}
.submenu__col-head {
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10pt;
}