//main
@main_active: #8dc655;
@mail_active-hover: #a0e161;
@info: #ffcb65;
@accent: #f63e3c;
@cart: #00c5f0;
@bottom_menu: #9B5BA5;

@bottom_menu_tag: #beadc3;
@answer: #daffb5;

//fonts 
@main_font_color: #1f1f1f;
@blue: #237ac2;
@light_grey: #b3b3b3;
@super_light_grey: #e5e5e5;
@unactive_font: #535353;
@btrp_link: #428bca;


//social
@fb: #3c5a9a;
@vk: #3f5d81;
@tw: #01b3ef;
@ok: #ea7724;
@ln: #007bb6;
@goo: #d95232;
@soc_vk: #4da4cf;
@soc_ok: #eda04c;
@soc_fb: #4d93ce;
@soc_tw: #4dd2ee;

//elements
@menu_line: #edf5de;
@sub_backgroung: #f4f4f4;
@action: #237ac2;
@day_item: #008a31;
@new: #8bbaf1;
@spec_price: #ffc000;
@cart_aside_active: #afd788;
@cart_aside_done: #e8f4dd;
@unactive_cart : #BEE498;


//Professional mode
@prof_hover: #3c3b3b;
@prof_all: #e72b54;
@prof_all_hover: #e3778f;


// new tags
@new_action_tag: #f05122;
@new_hurry_tag: #b80000;
@new_new_tag: #93bdf9;
@new_hit_tag: #79ac47;


/**
 * Добавляет тень к элементы.
 */
.add-shadow() {
  -webkit-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 5px 7px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 5px 7px 0px rgba(50, 50, 50, 0.2);
}
