#author{
	display: none;
	margin-bottom: @pad;

	a {
			display: block;
			padding-top: 15px;
			padding-bottom: 15px;
			text-align: center;
			text-decoration: none;
			color: #fff;
			font-size: 14px;

			.txt {
				padding-right: 70px;
				background-image: url("img/eskimobi.svg");
				background-size: 65px 35px;
				background-repeat: no-repeat;
				background-position: right center;
			}
		}
}

#returntomobile {
	background: #b0cc20;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(155, 91, 165, 0.7);

		a {
			display: block;
			margin-bottom: 0;
			padding: 10px;
			color: #fff;
			text-decoration: none;
			text-align: center;
			font-size: 16px;
			font-weight: 600;
		}
}
