#op_label {
    -top:expression(eval(document.documentElement.clientHeight - document.getElementById('op_label').offsetHeight + document.documentElement.scrollTop));
}
#op_wnd {
    -top:expression(eval(document.documentElement.clientHeight/2 - document.getElementById('op_wnd').offsetHeight/2 + document.documentElement.scrollTop));
}
html {
    -background: url(about:blank);
}