
.icon-ok-circled2:before { content: '\e800'; } /* '' */
.icon-facebook-1:before { content: '\e801'; } /* '' */
.icon-twitter-bird:before { content: '\e802'; } /* '' */
.icon-vkontakte-rect:before { content: '\e803'; } /* '' */
.icon-odnoklassniki:before { content: '\e804'; } /* '' */
.icon-ok-circle:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */