
/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("font/PTSansRegular/PTSansRegular.eot");
    src: url("font/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("font/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("font/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("font/PTSansItalic/PTSansItalic.eot");
    src: url("font/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("font/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("font/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("font/PTSansBold/PTSansBold.eot");
    src: url("font/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("font/PTSansBold/PTSansBold.woff") format("woff"),
    url("font/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PTSansCaptionBold";
    src: url("font/PTSansCaptionBold/ptsans_captionbold.eot");
    src: url("font/PTSansCaptionBold/ptsans_captionbold.eot?#iefix")format("embedded-opentype"),
    url("font/PTSansCaptionBold/ptsans_captionbold.woff") format("woff"),
    url("font/PTSansCaptionBold/ptsans_captionbold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "PTSansRegular", "PTSansItalic", "PTSansBold", sans-serif!important;
    font-size: 16px!important;
}
.logo {
    width: 65%;
    height: 65%;
}

.logo a {display: block}

.social a, .footer_social a {
    background: #92679D;
    color:#FFF;
    display: inline-block;
    font-size: 1.2em;
    padding: 0.6em;
    width: 1.2em;
    height: 1em;
    cursor: pointer;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.social a:hover, .social a:visited {
    text-decoration: none;
    color: #fff
}
.footer_social a {
    color: #92679D;
    background: #fff
}
.footer_social a:hover, .footer_social a:visited {
    text-decoration: none;
    color: #92679D
}
.new_head .phone, .footer_phone {
    font-family: "PTSansBold";
    color: #8E469A;
    letter-spacing: 2px;
    line-height: 40px;
    margin: 10px 0;
    font-size: 36px;
    line-height: 40px;
}

.new_head .phone {
    margin: 28px 0;
}
.wrap_main {
    background: url(img/bg.png) no-repeat;
    height: 530px;
    margin-bottom: 35px
}
.main_slogan {
    background: url(img/head_img.png) no-repeat 93% 50%;
    height: 408px;
    color: #fff;
    padding-top: 122px;
    letter-spacing: 1px
}
.main_slogan p {
    font-size: 25px;
    line-height: 38px
}
p.slogan1 {
    font-family: "PTSansBold";
    font-size: 32px;
}
#order, #order_set, #order_set2, #order_set3 {
    background: #5ec057;
    width: 140px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 10px 0;
    letter-spacing: 2px;
}
#order_set, #order_set2 {
    width: 200px;
    display: block;
    margin: 0 auto
}
p.small {
    font-size: 20px;
    padding-left: 25px;
    display: inline;
}
.h3.caption {
    color: #8E469A!important;
    text-align: center;
    text-transform: uppercase;
    font-family: "PTSansBold";
    letter-spacing: 2px;
    font-size: 34px;
    margin: 10px 0 25px;
    line-height: 40px;
    text-rendering: optimizelegibility;
}
.wrap_thumbnail, .wrap_reviews {
    background: #f6f5f5
} 
.wrap_thumbnail {
    padding-top: 60px;
    padding-bottom: 100px;
    margin: 20px 0 
}
.wrap_thumbnail .span4 {background: #fff}
.thumbnail {padding: 0!important}
.thumbnail ul {
    margin-top: -9px;
    list-style-type: none;
}
.thumbnail .h3 {
    font-weight: 100;
    color: #8E469A;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
    line-height: 40px;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}
#violet_btns a.violet {
    background: #a97ab2;
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    letter-spacing: 2px;
    color: #fff;
    padding: 0.65em;
    width: 5em;
    border: 2px solid #a97ab2;
}
#violet_btns a.violet:after {
    content: "1137р";
    background: #fff;
    color: #a97ab2;
    border: 2px solid #a97ab2;
    padding: 0.7em;
    border-radius: 0 50px 50px 0;
}
.by_violet{
    background: #fff;
    color: #a97ab2
}
p.zakaz {padding-left: 6em}
.result span {
    color: #8E469A;
    text-transform: uppercase;
}
.result p {min-height: 115px}
.result span {font-weight: bold;}
.result .h3.caption {
    font: 32px "PTSansCaptionBold";
}
.step {
    height: 100px;
    overflow: hidden;
}
#buy {
    background: #8E469A;
    background-image: none;
    margin-left: 15px
}
.description {height: 15em}
.advice ul {
    display: inline-block;
    list-style: none;
}
#why_choose {
    height: 230px;
}

#why_choose p {
    padding: 10px 30px 10px 30px;
    display: none;
}

#why_choose p.active {
    display: block;
}

#sredstva {margin-left: 30px}
#sredstva .span4 {margin-left: 0}
#sredstva .thumb {
    width: 100%;
    height: 285px;
    border-bottom: 10px solid #e0e0e0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}
#sredstva .active .thumb, #sredstva .thumb:hover { border-color: #8dc655}

.sredstvo1 .thumb {background-image: url(img/sredstvo1.jpg)}
.sredstvo2 .thumb {background-image: url(img/sredstvo2.jpg)}
.sredstvo3 .thumb {background-image: url(img/sredstvo3.jpg)}

.sredstvo1, .sredstvo2, .sredstvo3 {margin: 0 auto}
#sredstva p {
    font-size: 16px;
    width: 100%
}

#sredstva p u {
    cursor: pointer;
}

.wrap_economy {
    background: url(img/bg_economy.png) no-repeat;
    background-size: cover;
    margin: 55px 0;
    padding-bottom: 60px
}
.calendar {background: url(img/calendar.png) no-repeat 50% 0%}
.smile {background: url(img/smile.png) no-repeat 50% 0%}
.moneta {background: url(img/moneta.png) no-repeat 50% 0%}

.calendar, .smile, .moneta {
    margin: 60px 0 20px 0;
    padding-top: 125px;
    color: #fff;
    text-align: center;
}
.economy85 {
    font-size: 18px;
    text-transform: uppercase;
}
.advice ul li {
    position: relative;
    padding: 10px 0 30px 60px
}
.icon-ok {
    width: 30px;
    height: 30px;
    color: #94509f;
    border: 4px solid #94509f;
    border-radius: 100%;
    font-size: 27px;
    padding: 4px;
    position: absolute;
    top: 0;
    left: 0
}
.icon-attention {
    font-size: 35px;
    color: #94509f;
    position: absolute;
    top: 0;
    left: 0
}
.attention {position: relative}
.attention p {padding: 10px 0 15px 60px}
.call {
    background: url(img/phone.png) no-repeat;
    height: 91px
}
.call p {
    color: #8dc655;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 0 81px
}
.answer span, .answer p {color: #5b5b5b}
.answer p {
    text-align: right;
    padding-top: 24px
}
.answer span {font-weight: bold}
.wrap_reviews {
    margin-top: 60px;
    padding: 35px 0
}
.wrap_reviews p {padding: 0 20px 0 60px}
.middle {
    font-family: "PTSansItalic";
    font-size: 16px;
    min-height: 15em
}
.wrap_reviews img {margin: -55px 0 20px 40px}
.wrap_reviews p > a {
    color: #c5c5c5;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold
}
.wrap_reviews span {font-size: 18px}
.wrap_reviews .span6 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #fff;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-bottom: 40px
}
.wrap_footer {
    background: #a077a7;
    padding: 20px 5px
}
.wrap_footer p {color: #fff}
.footer_social {float: right}
.footer_phone {
    color: #fff;
    font-size: 40px;
}

.wrapper {
    display: table;
    background: url(img/jquery-countdown/timer.png) no-repeat;
    margin-left:25%;
}

.cell {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
#holder {
  width: 320px !important;
  height: 100px;
  margin: 36px 0 0 2px;
}
.cntSeparator {
    font-size: 55px;
    color: #5b5b5b;
    padding-top: 20px;
    width: 8px;
}

#cnt_2, #cnt_4 {
    margin-left: 7px;
}
