/* adding styles after editing*/

.new_head {padding: 2px 0; text-align: center}
.new_head .span4 {width: 378px}
.new_head .span4 img {width: 100%}
.new_head .span3 {display: inline-block; float: none; margin-left: 0; width: auto}
.new_head .span3 h3 {font-size: 36px; margin: 12px 0}
.new_head .span3.social {float: right; text-align: right; margin-left: 98px; width: auto; padding: 22px 0}
.footer_social a,
.new_head .span3.social a {
    font-size: 1.4em;
    height: 1.2em;
    width: 1.2em;
    padding: 0.5em;
    margin-left: 8px;
    position: relative;
    background: transparent;
}
.footer_social a:before,
.new_head .span3.social a:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    content: "";
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.wrap_main {
    height: 517px;
    background-image: url("img/bg_glss.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    margin-bottom: 16px;
}
.wrap_main .container-box {
    background: rgba(0,0,0,0.5);
    height: 354px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 13px;
    left: 0;
    right: 0;
}
.wrap_main .container-box .main_slogan {
    height: 354px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 100% center;
    padding: 36px 0;
}
.wrap_main .container-box .main_slogan p {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 23px;
}
.wrap_main .container-box .main_slogan p.slogan1 {
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 10px;
}
#order_set2,
.forOrd #order_set,
.wrap_main .container-box .main_slogan #order {
    display: inline-block;
    font: 23px "PTSansBold";
    padding: 14px 46px;
    width: auto;
    -webkit-box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.7);
    background: rgb(129,206,123);
    background: -moz-linear-gradient(top, rgba(129,206,123,1) 0%, rgba(48,161,39,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(129,206,123,1)), color-stop(100%,rgba(48,161,39,1)));
    background: -webkit-linear-gradient(top, rgba(129,206,123,1) 0%,rgba(48,161,39,1) 100%);
    background: -o-linear-gradient(top, rgba(129,206,123,1) 0%,rgba(48,161,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(129,206,123,1) 0%,rgba(48,161,39,1) 100%);
    background: linear-gradient(to bottom, rgba(129,206,123,1) 0%,rgba(48,161,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81ce7b', endColorstr='#30a127',GradientType=0 );
}



#order_set3 {
    display: inline-block;
    font: 23px "PTSansBold";
    padding: 14px 46px;
    width: auto;
    -webkit-box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 4px 3px 0px rgba(0, 0, 0, 0.7);
    background: rgb(184,145,191);
    background: -moz-linear-gradient(top, rgba(184,145,191,1) 0%, rgba(122,66,133,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,145,191,1)), color-stop(100%,rgba(122,66,133,1)));
    background: -webkit-linear-gradient(top, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    background: -o-linear-gradient(top, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    background: -ms-linear-gradient(top, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    background: linear-gradient(to bottom, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b891bf', endColorstr='#7a4285',GradientType=0 );
}

.wrap_main .container-box .main_slogan p.small {
    display: inline-block;
    margin: 0;
    padding-left: 14px;
    vertical-align: middle;
}
.result h3.caption {font: 32px "PTSansCaptionBold"}
.result>.row {margin-bottom: 28px}
.result .span3 img {max-height: 250px}
.result .span3 p {min-height: 115px}
.result .span3 p span {font-size: 21px; margin-right: 4px; color: #94509f}
.result .span3 span.price {font-size: 24px; text-transform: uppercase; color: #94509f; vertical-align: middle}
.result .span3 #buy {
    font: 15px "PTSansCaptionBold";
    margin-left: 24px;
    padding: 7px 24px;
    background-color: #b288ba;
    -webkit-box-shadow: 0 2px 0 #90339f;
    -moz-box-shadow: 0 2px 0 #90339f;
    box-shadow: 0 2px 0 #90339f;
    border-radius: 6px;
}

.result span.bayprice {
    color: #b288ba;
    font: 20px/26px "PTSansBold";
    text-align: center;
    text-transform: lowercase;
    background-color: #fff;
    border: 4px solid #8b4b97;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid solid solid none;
    width: 125px;
    display: inline-block;
    padding: 8px 0 8px 0;
    border-radius: 0 30px 30px 0;
    vertical-align: middle;
    margin-left:  -5px;
}
.result button.bay {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    color: #fff;
    padding: 14px 0;
    font: 18px/22px "PTSansRegular";
    text-transform: uppercase;
    border-radius: 30px 0 0 30px;
    border: none;
    background: rgb(184,145,191);
    background: -moz-linear-gradient(top, rgba(184,145,191,1) 0%, rgba(122,66,133,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,145,191,1)), color-stop(100%,rgba(122,66,133,1)));
    background: -webkit-linear-gradient(top, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    background: -o-linear-gradient(top, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    background: -ms-linear-gradient(top, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    background: linear-gradient(to bottom, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b891bf', endColorstr='#7a4285',GradientType=0 );
}

.answer p {text-align: left; font-size: 21px; line-height: 28px; color: rgba(0,0,0,0.7)}
.thumbnail h3 {font-size: 28px; color: #a1468c}
.thumbnail ul {margin-left: 0}
.description {padding: 0 15px; height: 340px}
.description>p, .description li {font-size: 18px; line-height: 25px}
.caption p.zakaz {padding: 0; text-align: center}
.caption p.zakaz a {font-size: 0; border: none; background: transparent;}
.caption p.zakaz a span{
    color: #b288ba;
    font: 20px/26px "PTSansBold";
    background-color: #fff;
    border: 4px solid #8b4b97;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid solid solid none;
    width: 125px;
    display: inline-block;
    padding: 8px 0 8px 0;
    border-radius: 0 30px 30px 0;
    vertical-align: middle;
}
.caption p.zakaz a span.buy {
    color: #fff;
    padding: 14px 0;
    font: 18px/22px "PTSansRegular";
    border-radius: 30px 0 0 30px;
    border: none;
    background: rgb(184,145,191);
    background: -moz-linear-gradient(top, rgba(184,145,191,1) 0%, rgba(122,66,133,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,145,191,1)), color-stop(100%,rgba(122,66,133,1)));
    background: -webkit-linear-gradient(top, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    background: -o-linear-gradient(top, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    background: -ms-linear-gradient(top, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    background: linear-gradient(to bottom, rgba(184,145,191,1) 0%,rgba(122,66,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b891bf', endColorstr='#7a4285',GradientType=0 );
}
h3.caption {font-size: 34px; margin-bottom: 25px}
#why_choose p {font-size: 24px; line-height: 28px}
#sredstva .thumb {margin-bottom: 11px}
#sredstva p {font-size: 25px}
.wrap_economy p {
    font-size: 22px;
    line-height: 27px;
}
.wrap_economy .smile p:first-child {
    font-size: 37px;
    font-weight: bold;
    line-height: 43px;
}
.wrap_economy p a {color: inherit; font: inherit; text-decoration: underline}
/*.wrap_economy .row {margin: 0}*/
.wrap_economy .span4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px;
}
.forOrd {text-align: center}
#order_set2,
.forOrd #order_set {font-size: 20px; padding: 16px 29px}
.advice ul li {font-size: 24px; line-height: 33px}
.icon-ok {
    width: 30px;
    height: 30px;
    color: #94509f;
    border: 4px solid #94509f;
    border-radius: 100%;
    font-size: 27px;
    padding: 4px;
    position: absolute;
    top: 14px;
    left: 0
}
.icon-ok:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1em;
    line-height: 1em;
    margin: auto;
}
.attention p {font-size: 21px}
.call {position: relative}
.call p {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    margin: auto;
    left: 85px;
    padding: 0;
}
.calltous {margin-top: 40px; text-align: center}
.calltous>div {
    display: inline-block;
    float: none;
    vertical-align: middle;
    width: 330px;
}
h3.footer_phone {font-size: 40px}
.footer_social {padding: 19px 0}
.new_head .span3.social .icon-vkontakte-rect:before {background-image: url("img/ico_vk.png");}
.new_head .span3.social .icon-facebook-1:before {background-image: url("img/ico_fb.png");}
.new_head .span3.social .icon-twitter-bird:before {background-image: url("img/ico_tw.png");}
.new_head .span3.social .icon-odnoklassniki:before {background-image: url("img/ico_ok.png");}
.footer_social .icon-vkontakte-rect:before {background-image: url("img/ico_vk-w.png");}
.footer_social .icon-facebook-1:before {background-image: url("img/ico_fb-w.png");}
.footer_social .icon-twitter-bird:before {background-image: url("img/ico_tw-w.png");}
.footer_social .icon-odnoklassniki:before {background-image: url("img/ico_ok-w.png");}
#holder {width: 300px}



@media screen and (max-width:1200px) {
    .new_head .span3.social {width: auto; margin: 0}
    .new_head .span3 {width: auto}
    .new_head .span3 h3 {font-size: 29px}
    .wrap_main .container-box .main_slogan p.slogan1 {font-size: 29px; line-height: 42px}
    .wrap_main .container-box .main_slogan p {font-size: 20px}
    #order_set2, .forOrd #order_set, .wrap_main .container-box .main_slogan #order {font-size: 19px}
    .wrapper {margin-left: 0}
    .description > p, .description li {font-size: 15px}
    #why_choose p {font-size: 21px}
    #order_set2, .forOrd #order_set {font-size: 15px}
    .description {height: 367px}
    h3.footer_phone {font-size: 33px}
}
@media screen and (max-width:1024px) {
    .new_head .span4, .new_head .span3, .new_head .span3.social {width: auto; float: none; display: inline-block; vertical-align: middle; margin: 0 30px}
    .wrap_main .container-box .main_slogan {width: auto; padding: 40px 36px}
    .result .span3 {width: 46%; margin: 0 2% 35px; text-align: center; float: left}
    .result .offset2 {margin: 0}
    .wrap_thumbnail {padding-bottom: 40px}
    .wrap_thumbnail .span4 {width: 100%; margin-bottom: 25px}
    .description {height: 220px}
    .wrap_footer .span4 {width: auto}
    .wrap_footer .text-center {width: 100%; float: none}
    body {padding: 0}
    body>div {
        padding-left: 20px;
        padding-right: 20px;
    }
    body>div.wrap_main {padding: 0}
    body>div.wrap_footer {padding: 20px 25px}
}
@media screen and (max-width:568px) {
    .new_head .span4, .new_head .span3, .new_head .span3.social {margin: 0}
    .wrap_main {height: 300px}
    .wrap_main .container-box {height: 223px}
    .wrap_main .container-box .main_slogan {padding: 13px 12px; height: 223px; text-align: center}
    .wrap_main .container-box .main_slogan p {
        font-size: 15px;
        line-height: 22px;
        text-align: right;
    }
    .wrap_main .container-box .main_slogan p.slogan1 {
        font-size: 15px;
        line-height: 23px;
        text-align: right;
    }
    #order_set2, .forOrd #order_set, .wrap_main .container-box .main_slogan #order {
        font-size: 13px;
        padding: 5px 16px;
    }
    .middle {min-height: 0}
    .forOrd #order_set {padding: 9px 16px}
    .result h3.caption {font-size: 20px}
    .result .span3 {width: 100%; margin: 0 0 10px}
    .wrap_thumbnail {padding: 0}
    .description {height: auto}
    h3.caption {font-size: 21px; line-height: 28px}
    #why_choose p {padding: 0; font-size: 16px; margin-bottom: 6px}
    #sredstva {margin-left: 0}
    .advice ul {margin: 0}
    .advice ul li {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 8px;
    }
    .answer p {font-size: 20px}
    .call p {font-size: 23px}
    .wrap_reviews .span6 {margin-top: 52px}
    .wrap_reviews p {padding: 0 20px}
    h3.footer_phone {font-size: 21px}
    .footer_social {float: none; text-align: center}
    .calltous {margin-top: 0}
}
