#email-popup .close {
    float: right;
    padding-top: 8px;
    background: url(../images/cross.jpg) 0 0 no-repeat;
    width: 50px;
    height: 25px;
    margin: 14px -10px 14px 0;
}

#email-popup section {
    width: 700px;
    height: 470px;
    max-width: 100%;
    padding: 0 35px;
}

#email-popup .headd {
    height: 60px;
    position: static;
}

#email-popup .bodys {
    padding: 0 0 35px 0;
    width: 100%;
    height: 478px;
    background:none;
}


.footer {
    height: 100px;
}

.no {
    margin-left: 25px;
    color: #555555;
    font-size: 18px;
    background: #ffffff;
    width: 190px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #c6c9c9;
}

.no:hover {
    background: #f0fff0;
    border: 1px solid #ffffff;
}

.yes {
    margin-left: 85px;
    color: #e8eee3;
    font-size: 18px;
    background: linear-gradient(-45deg, #f756f7 0%,#FC94D9 39%,#ff7cd8 100%);
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #c6c9c9;
}

.yes:hover {
    color: #ffffff;
    background: linear-gradient(to top, #f756f7, #ff7cd8);
    border: 1px solid #518221;
}

.yes.disabled {
    cursor: default;
    background: #ff7cd8;
}

.yes.disabled:hover {
    color: #e8eee3;
    border-color: #c6c9c9;
}

.li_pop{

    float: right;
}

.li_pop li{
  padding-bottom: 20px;
  padding-top: 5px;
  font-size: 16px;
          }

.block_sales{
    width: 360px;
    display:inline-block;
    font-family: 'Lucida console';
}

.sale {
     font-size: 26px;
     padding-left: 40px;
     height: 0px;
     color: #417a08;
}

.procent {
    font-weight: bold;
    height:138px;
    width: 360px;
    font-size: 120px;
    color:#80b74a;
}

.sale1 {
    font-size: 26px;
    padding-left: 40px;
    padding-bottom: 10px;
    color: #417a08;
}

.fright,
#email-popup-success {
    float: left;
    right: 40px;
    width: 330px;
    margin: 0;
}

#email-popup-success {
    display: none;
}

#email-popup-success .sale {
    height: auto;
    text-align: center;
    padding-right: 50px;
    width: 440px;
}

#email-popup-success .no {
    margin-left: 130px;
}

#email-popup-input {
    font-size: 20px;
    height: 55px;
    width: 330px;
    border: 1px solid;
    border-color: #c6c9c9;
    padding: 0 10px;
    margin: 0 30px 5px 0;
}


.checkbox {
    cursor: pointer;
    margin-bottom: 0;
    padding-left: 15px !important;
    width: 350px;
}

.buttonn {
    margin-left: 0px;
    width: 415px;
    float: right;
}

#email-popup .checkbox label {
    display: block;
    height: 25px;
    margin: 0;
}

.checks {
    margin-left: 0px !important;
    height: 20px;
    width: 20px;
    display: none;
}

.check {
    font-size: 19px;
    margin-left: 0px !important;
    height: 25px;
    width: 25px;
    white-space: nowrap;
    text-indent: 35px;
    background-color: #fffff9;
    border: solid 1px #c6c9c9;
}
.checked {
    background:radial-gradient(#f96aee 37%, #FFFFFF);
    border: solid 1px #c6c9c9;
}

#email-popup .disclaimer {
    position: absolute;
    bottom: 7px;
    width: 700px;
    font-size: 11px;
    color: #3c3c3c;
    right: 30px;
    text-align: right;
}
