@media_max: 768px;

@pad: 10px;
@pad2: 20px;

@font-normal: 14px;

html.eskimobi_responsive{
	overflow-x: hidden;
	width: 100%;
	min-width: 300px;
	height: auto !important;
	body{
		@import 'less/font-awesome.less';
		@import 'less/mixins.less';
		@import 'less/menu.less';
		// @import 'less/m-new-year.less';
		@import 'less/author.less';
		@import 'less/media.less';
	}
}
