.btn-active{
	background: #F8F8F8 !important;
	color: #333 !important;
  text-shadow: none !important;
  .rightarrowclass{
  	.rotate(90deg);
  	margin-top: -4px;
  }
}
.full{
	margin-left: -@pad;
	margin-right: -@pad;
	padding-left: @pad;
	padding-right: @pad;
	width: auto !important;
}
.clear{
	&:after{
		clear: both;
		display: table;
		content: '';
	}
}
.rotate(@degree) {
	-webkit-transform: rotate(@degree); /* Chrome y Safari */
		 -moz-transform: rotate(@degree); /* Firefox */
		 -o-transform: rotate(@degree); /* Opera */
			transform: rotate(@degree); /* Opera */
}
.translate3d (@x: 0, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.transitions(@property: all; @time: 100ms; @delay: 0ms; @function: ease-in-out;){
	-webkit-transition: @arguments;
		 -moz-transition: @arguments;
		-ms-transition: @arguments;
		 -o-transition: @arguments;
			transition: @arguments;
}
.transitions_off(){
	-webkit-transition: none;
		 -moz-transition: none;
		-ms-transition: none;
		 -o-transition: none;
			transition: none;
}
.overflow-x() {
	overflow: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.overflow-y() {
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.overflow() {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.gradient-horizontal-overflow(@color1,@color2) {
	background: -moz-linear-gradient(left, @color1 0%, @color2 80%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,@color1), color-stop(80%,@color2));
	background: -webkit-linear-gradient(left, @color1 0%,@color2 80%);
	background: -o-linear-gradient(left, @color1 0%,@color2 80%);
	background: -ms-linear-gradient(left, @color1 0%,@color2 80%);
	background: linear-gradient(to right, @color1 0%,@color2 80%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=1 );
}
