#brands-list {
  padding: 20px 0;
  position: relative;
  height: 20px;
  margin: 0 -15px;
  font-family: dinpro_light, sans-serif;

  .lbl {
    position: absolute;

      a {
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      color: @unactive_font!important;
    }
  }

  .letters {
    float: right;
    text-align: justify;
    width: 930px;
    &:after{
      content: "";
      display: inline-block;
      width: 100%;
    }

    .letter {
      display:inline;
      text-align: justify;
      position: relative;
      height: 20px;
      cursor: default;

      .letter-name {
        color: @bottom_menu;
        text-transform: uppercase;
        padding-right: 3px;
      }

      .bull {
        padding-left: 3px;
      }

      .brands {
        position: absolute;
        left: 0;
        top: 10px;
        display: none;
        background-color: white;
        padding: 5px 0;
        z-index: 9999;
        box-shadow: 1px 5px 9px @super_light_grey;

        &.right {
          left: auto;
          right: 0;
        }

        a {
          display: block;
          padding: 5px 40px 0 15px;
          color: @main_font_color;
          text-decoration: none;
          margin: 2px 0;
          white-space: nowrap;
          font-size: 17px;

          &:hover {
            background-color: @super_light_grey;
          }
        }
      }

      &:hover {
        .letter-name {
            color: @main_font_color;
        }

        .brands {
          display: block;
        }
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }
}