@font-face {
  font-family: dinpro_light;
  src: url('/fonts/dinpro-light-webfont.eot');
  src: url('/fonts/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/dinpro-light-webfont.woff') format('woff'), url('/fonts/dinpro-light-webfont.ttf') format('truetype'), url('/fonts/dinpro-light-webfont.svg#dinpro-light') format('svg');
  font-weight: 400;
  font-style: normal
}

#breadcrumbs {
  color: @light_grey;
  font-size: 13px;
  margin: 15px -30px 0;
  line-height: 23px;

  a {
    color: @main_font_color;

    &:hover {
      color: @main_active;
    }
  }
}

#cart-popup {
  display: none;
  width: 470px;
  position: absolute;
  top: 47px;
  left: 0px;
  margin-left: 270px;
  background-color: white;
  padding: 10px 15px 15px;
  z-index: 5;
  box-shadow: 2px 8px 9px @light_grey;
  -webkit-box-shadow: 2px 8px 9px @light_grey;

  &.bottom {
    box-shadow: 1px 1px 9px @light_grey;
    position: fixed;
    top: auto;
    left: auto;
    bottom: 50px;
    z-index: 10000;
    margin-left: 170px;
  }

  .products {
    max-height: 500px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;

    .row {
      margin-top: 10px;

      img {
        position: relative;
        left: -13px;
        top: -8px;
      }

      a {
        color: @main_font_color;
        text-decoration: none;

        &:hover div {
          text-decoration: underline;
        }

        p {
          color: @unactive_font;
        }
      }

      .product-name {
        font-size: 10pt;
      }

      .price-box {
        text-align: right;
        white-space: nowrap;
        font-weight: bold;
        font-size: 15px;

        .rub {
          font-size: 14px;
        }
      }
    }
  }

  .bottom {
    margin: 0 -15px 0;
    padding: 20px 15px 0;
    border-top: 1px solid @super_light_grey;
    position: relative;

    p {
      color: @light_grey;
      margin: -4px 0 0;
      font-size: 14px;
      height: 15px;
    }

    .price-box {
      padding-top: 1px;
      font-size: 18px;
      font-weight: bold;
    }

    a {
      float: right;
      border-radius: 25px;
      color: white;
      background-color: @bottom_menu;
      font-size: 21px;
      text-transform: uppercase;
      padding: 3px 20px;
      text-decoration: none !important;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.popover {
  background-color: #414141;
  color: white;
  border: none;

  border-radius: 0;
  -webkit-border-radius: 0;

  box-shadow: none;
  -webkit-box-shadow: none;

  white-space: nowrap;
  width: auto;

  .arrow {
    border: none;
    margin: 0 !important;
    padding: 0 !important;
  }

  .popover-content {
    width: auto;
    text-align: left;
    padding: 10px 15px;
    font-size: 13px;
  }

  &.bottom {
    .arrow {
      &:after {
        top: 3px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #414141;
      }
    }
  }

  &.right {
    .arrow {
      &:after {
        left: 3px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #414141;
      }
    }
  }
}

#found-lower-modal {
  display: none;
  font-family: dinpro_regular, sans-serif;

  .bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    background-color: black;
    z-index: 1031;
  }

  .modal {
    display: block;
    width: 900px;
    margin: 100px auto 0;
    z-index: 1032;

    .holder {
      position: relative;
      background-color: white;
      padding: 35px 90px 15px 35px;
    }
  }

  .header2 {
    margin: 20px 0 10px;
    font-size: 20px;
    line-height: 22px;
    position: relative;
    clear: both;

    .product-tm {
      margin-bottom: 10px;
      color: @light_grey;
    }

    .product-name {
      text-transform: uppercase;
    }

    .price-box {
      text-transform: uppercase;
      float: right;
      width: 100px;
      text-align: right;
      font-size: 19px;
    }
  }

  h3, p, form {
    color: @unactive_font;
    font-size: 16px;
  }

  h3 {
    font-size: 19px;
  }

  .close {
    position: absolute;
    top: -7px;
    right: 10px;
    background-position: -30px -136px;
    text-decoration: none;
    color: black;
    font-size: 50px;
    font-weight: normal;
  }

  form {
    padding-top: 20px;

    .row {
      padding-bottom: 30px;
    }

    .error {
      display: none;
      position: absolute;
      color: @accent;
      font-size: 14px;
    }

    label {
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
    }

    input {
      display: block;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid @light_grey;
      color: black;
      font-family: Arial, sans-serif;

      &:focus {
        outline: 1px solid @light_grey;
      }
    }

    button {
      color: white;
      background-color: #ffcf0f;
      padding: 5px 60px;
      font-size: 20px;
      margin-top: 35px;
      float: right;
    }

    .has-error {
      .error {
        display: block;
      }
    }
  }

  .oferta-label {
    position: absolute;
    bottom: -45px;
    color: @light_grey;
    font-size: 13px;
    white-space: nowrap;
  }

  .logo-bg {
    width: 188px;
    height: 76px;
    position: absolute;
    bottom: 20px;
  }

  .bdg {
    margin-top: 10px;
    padding: 5px 0 15px 55px;
    width: 210px;
    border-bottom: 1px solid @super_light_grey;
    position: relative;

    &.bdg3 {
      border-bottom: none;
    }

    a {
      font-size: 14px;
      text-transform: uppercase;
      color: @light_grey;
      text-decoration: none;

      &:hover {
        color: @main_active;
      }
    }

    .icn {
      position: absolute;
      width: 30px;
      left: 10px;
      top: 13px;
    }

    .i1 {
      background-position: -151px -115px;
      height: 30px;
    }

    .i2 {
      background-position: -181px -115px;
      height: 27px;
    }

    .i3 {
      background-position: -211px -115px;
      height: 25px;
    }
  }

  .popover {
    white-space: normal;
    width: 340px !important;
    max-width: none;
  }
}

@import 'filters.less';
@import 'brands-list.less';
