@filter_group_color: #555555;

@font-face {
  font-family: dinpro_light;
  src: url(/fonts/dinpro-light-webfont.eot);
  src: url(/fonts/dinpro-light-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/dinpro-light-webfont.woff) format('woff'), url(/fonts/dinpro-light-webfont.ttf) format('truetype'), url(/fonts/dinpro-light-webfont.svg#dinpro-light) format('svg');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: dinpro_medium;
  src: url(/fonts/dinpro-medium-webfont.eot);
  src: url(/fonts/dinpro-medium-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/dinpro-medium-webfont.woff) format('woff'), url(/fonts/dinpro-medium-webfont.ttf) format('truetype'), url(/fonts/dinpro-medium-webfont.svg#dinpro-medium) format('svg');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: dinpro_regular;
  src: url(/fonts/dinpro-regular-webfont.eot);
  src: url(/fonts/dinpro-regular-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/dinpro-regular-webfont.woff) format('woff'), url(/fonts/dinpro-regular-webfont.ttf) format('truetype'), url(/fonts/dinpro-regular-webfont.svg#dinpro-regular) format('svg');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: dinpro_bold;
  src: url(/fonts/dinpro-bold-webfont.eot);
  src: url(/fonts/dinpro-bold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/dinpro-bold-webfont.woff) format('woff'), url(/fonts/dinpro-bold-webfont.ttf) format('truetype'), url(/fonts/dinpro-bold-webfont.svg#dinpro-bold) format('svg');
  font-weight: 400;
  font-style: normal
}

/*фильтры - шапка на сером фоне*/
.products-header-top { background: #f0f0f0; padding: 0 20px 10px; margin-top: 10px; }
.products-header-top.slim {
  padding-bottom: 7px;
}
.products-header-top h1 { text-transform: uppercase; color: @filter_group_color; margin-bottom: 13px; }
.products-header-top h2 { padding-left: 10px; color: @unactive_font; }

/*выпадашка*/
.dropdown-gray-style.lvl_3 ul { width: 234px !important; }
.dropdown-gray-style { display: inline-block; *display: inline; font-family: dinpro_regular, sans-serif; font-size: 15px !important; margin-left: 0; padding: 0; }
.dropdown-gray-style .lvl_3_group_title { display: block; position: relative; background: #ffffff; color: @filter_group_color; text-transform: uppercase; font-size: 13px; text-decoration: none !important; border: 1px solid #f0f0f0; padding: 6px 42px 6px 15px; font-family: dinpro_light, sans-serif; margin: 0 !important; }
.dropdown-gray-style .lvl_3_group_title > li > a { white-space: normal; }
.dropdown-gray-style i.arrow { position: absolute; width: 17px; height: 15px; display: block; right: 15px; top: 8px; background-position: -2px -114px; }
.dropdown-gray-style .lvl_3_group.hover i.arrow { background-position: -27px -114px; }
.dropdown-gray-style .lvl_3_group, .dropdown-gray-style .lvl_3_group_title { border-radius: 15px; -webkit-border-radius: 15px; position: relative; }
.dropdown-gray-style .lvl_3_group.hover .lvl_3_group_title { z-index: 5; }
.dropdown-gray-style li a:hover { background-color: transparent; }
.dropdown-gray-style li a { text-decoration: none; border: none; }
.products-header-top .dropdown-gray-style li {
  margin: 0 0 4px;
}

.products-header-top .dropdown-gray-style li a {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.products-header-top.single-col .expandable .lvl_3_group .lvl_3_block {
  padding-left: 20px !important;
  width: 290px !important;
}

.products-header-top.single-col .dropdown-gray-style.lvl_3 ul { width: 264px !important; margin: 0; }
.dropdown-gray-style .lvl_3_active { padding: 0; }
.dropdown-gray-style li a:hover { color: @mail_active-hover; text-decoration: underline; }
.dropdown-gray-style .lvl_3_block { border: 0; width: 400px; margin-top: -14px; z-index: 4; }
.dropdown-gray-style .lvl_3_block > li > a { padding: 0; }
.dropdown-gray-style .lvl_3_block > li { margin: 10px 0; }
.dropdown-gray-style .lvl_3_group_title:after { display: none !important; }
.dropdown-gray-style .lvl_3_group.hover { box-shadow: 0 10px 15px 5px rgba(0,0,0,.20); -webkit-box-shadow: 0 10px 15px 5px rgba(0,0,0,.20); height: 20px;}
.dropdown-gray-style .lvl_3_group.hover .lvl_3_block { box-shadow: none; -webkit-box-shadow: none; border-color: #ffffff; }
.dropdown-gray-style .lvl_3_group.hover .lvl_3_group_title { border-color: #ffffff; padding-bottom: 20px;}
.dropdown-gray-style .lvl_3_group.hover .lvl_3_block { padding: 10px 0 5px 20px; box-shadow: 0 10px 15px 5px rgba(0,0,0,.20); -webkit-box-shadow: 0 10px 15px 5px rgba(0,0,0,.20); }
.products-header-top .dropdown-gray-style .lvl_3_group.hover .lvl_3_block {
  &.c4 {
    width: 960px;
  }
}
.single-col .dropdown-gray-style .lvl_3_group.hover .lvl_3_block { padding: 10px 30px 5px 30px; width: auto; }
.dropdown-gray-style.expandable.lvl_3 {
  height: 30px;
  margin-top: 7px;
}
.dropdown-gray-style.expandable .lvl_3_group .lvl_3_block { z-index: 3; min-width: 100%; }
.products-header-top-nav .dropdown-gray-style { width: 300px; float: left; margin-right: 30px; }
.dropdown-gray-style .lvl_3_group { float: none; }
.products-header-top-nav .dropdown-gray-style:last-child { margin-right: 0; }
.products-header-top-nav .expandable .lvl_3_group { margin-right: 0; }
.dropdown-gray-style.expandable .lvl_3_group { margin-right: 10px; }
.dropdown-gray-style.lvl_3 { margin-top: 0; }
/*если чеки есть*/
.dropdown-check .lvl_3_group_title { border-color: @main_active; }
.dropdown-gray-style .dropdown-check .lvl_3_group_title i.arrow { background-position: -2px -135px; cursor: pointer; }
.dropdown-gray-style .dropdown-check.hover .lvl_3_group_title i.arrow { background-position: -28px -135px; cursor: pointer; }
.dropdown-check .lvl_3_group_title { box-shadow: inset 0 0 0 1px @main_active; -webkit-box-shadow: inset 0 0 0 1px @main_active; }
.dropdown-check.lvl_3_group.hover .lvl_3_group_title { box-shadow: none; -webkit-box-shadow: none; }
.products-header-filters.filters { position: relative; width: 100%; border: 0; border-bottom: 1px solid #f0f0f0; }

/*фильтры*/
.products-header-filters {
  padding: 0 20px 10px;
}
.filters { z-index: auto; }
.filter { color: @filter_group_color; }
.filter span { padding: 0 9px; margin-right: 11px; background-position: 25px 0; width: 16px; height: 16px; border: 1px solid #e6e6e6; }
.active_filter span { background-position: -64px -111px; border-color: #cdcdcd; }
.active_filter, .fi:hover { color: #111111; }
.filters p.fi {
  margin-bottom: 20px;
  color: @super_light_grey;
  cursor: default;
}

.tm-filter p.fi {
  margin-bottom: 15px;
}
.filters .fi.available {
  cursor: pointer;
  color: @main_font_color;
}
.filters li:last-child p.fi { margin-bottom: 0; }

/*сортировка*/
.products-header-bottom { padding: 13px 0 5px 0; }
#amountGoods { color: #999999; padding-top: 6px; }
.products-header-amount { float: left; font-size: 15px !important; padding-left: 20px; }
.products-header-sort { text-align: right; float: right; font-size: 15px !important;}
.products-header-bottom .sort, .products-header-bottom .sort__menu-item a { font-size: 15px !important; }
.sort__lable, .sort__menu, .sort__menu li { display: inline-block; width: auto; text-transform: none; }
.sort__menu a { color: @filter_group_color; text-decoration: none; }
.sort__menu a:hover, .sort__menu a.active-sort { color: #9958a3; }

.sort-link {
  a {
    padding-right: 16px !important;
    margin-right: 20px;
    position: relative;
    display: inline-block;
    color: @bottom_menu;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
  }

  i {
    right: 0;
    top: 6px;
    display: none;
    position: absolute;
    background-position: -1px -151px;
    width: 10px;
    height: 13px;
  }

  &:hover {
    a {
      color: @main_active;
      text-decoration: none;
    }
  }

  &.active-sort {
    &.down .down-i,
    &.up .up-i {
      display: inline;
    }

    a {
      color: @unactive_font;

      i {
        display: none;
      }
    }
  }
}

.filter-group {
  &.unavailable {
    .lvl_3_group_title {
      color: @super_light_grey;
      border-color: @sub_backgroung !important;
    }

    i {
      &.arrow {
        background-position: -2px -114px !important;
      }
    }
  }
}

.products-header-top .prods_title_sort {
  position: relative;
  padding: 10px 0;
  height: 45px;
}

.products-header-top {
  h1, h2 {
    float: left;
    margin: 0;
    font-size: 23px;
    line-height: 30px;
    font-family: dinpro_light, sans-serif;
  }

  h2 {
    font-size: 21px;
  }

  &.w-img {
    height: 120px;

    .prods_title_sort {
      margin: 5px 0 10px;
      padding-right: 180px;
      padding-bottom: 0;
      margin-bottom: 0;
      height: auto;
    }

    .products-header-top-nav {
      position: absolute;
      bottom: 12px;
    }

    h1, h2 {
      float: none;
      display: inline;
    }

    h1 {
      font-size: 21px;
      font-weight: bold;
    }

    h2 {
      font-size: 19px;
    }

    .top-img {
      position: absolute;
      top: 2px;
      right: 2px;
      height: 116px;
    }
  }
}

/*превью товара*/
.spec_item_img { margin: 0 13px 0 13px; }
.load_bill, .order_cancel, .order_repeat, .to_cart { width: 70px; }

#price-range-box {
  .lvl_3_block {
    padding: 30px;
  }
}

#price-range {
  padding: 0 40px;
  margin: 0 30px;

  .range-label {
    border: 1px solid @super_light_grey;
    color: @unactive_font;
    padding: 4px;
    width: 60px;
    z-index: 1;
    position: absolute;
    top: -1px;
    cursor: default;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-borde-radius: 3px;
  }

  .noUi-handle-lower {
    .range-label {
      right: 17px;
    }
  }

  .noUi-handle-upper {
    .range-label {
      left: 17px;
    }
  }

  .noUi-connect {
    background-color: @mail_active-hover;
  }
}

#filter-form {
  margin: 0;
}
