P, H1, H2, H3 UL, OL {
    font-family: Tahoma, sans-serif;
}

P {
    margin: 6px 0;
    font-size: 9pt;
}

H1 {
    margin: 16px 0;
    font-size: 13pt;
}

H2 {
    margin: 8px 0;
    font-size: 11pt;
}

H3 {
    margin: 6px 0;
    font-size: 10pt;
}

LI {
    margin: 6px 0 6px 6px;
}

UL, OL {
    margin: 6px 0 6px 24px;
    padding: 0;
    list-style-position: outside;
    font-size: 9pt;
}